{% extends 'ThemeBundle:Default:layout_base.html.twig' %}

{% block content_title %}
    Resumen
{% endblock %}

{% block content -%}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cliente</h3>
                </div>
                <div class="box-body">
                    <table class="record_properties">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ entity.id }}</td>
                            </tr>
                            <tr>
                                <th>Foraneo</th>
                                    {% if entity.foraneo %}
                                    <td>SI</td>
                                {% else %}
                                    <td>NO</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Reventa</th>
                                    {% if entity.reventa %}
                                    <td>SI</td>
                                {% else %}
                                    <td>NO</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Nombre</th>
                                <td>{{ entity.personaTipo.first().persona.nombre }}</td>
                            </tr>
                            <tr>
                                <th>Apellido</th>
                                <td>{{ entity.personaTipo.first().persona.apellido }}</td>
                            </tr>
                            <tr>
                                <th>Numerodocumento</th>
                                <td>{{ entity.personaTipo.first().persona.numeroDocumento }}</td>
                            </tr>
                            <tr>
                                <th>Telefono</th>
                                <td>{{ entity.personaTipo.first().persona.telefono }}</td>
                            </tr>
                            <tr>
                                <th>Celular</th>
                                <td>{{ entity.personaTipo.first().persona.celular }}</td>
                            </tr>
                            <tr>
                                <th>Mail</th>
                                <td>{{ entity.personaTipo.first().persona.mail }}</td>
                            </tr>
                            <tr>
                                <th>Web</th>
                                <td>{{ entity.personaTipo.first().persona.web }}</td>
                            </tr>
                            <tr>
                                <th>Fechanacimiento</th>
                                <td>{{ entity.personaTipo.first().persona.fechaNacimiento|date('d/m/Y') }}</td>
                            </tr>
                            <tr>
                                <th>Calle</th>
                                <td>{{ entity.personaTipo.first().persona.calle }}</td>
                            </tr>
                            <tr>
                                <th>Numerocalle</th>
                                <td>{{ entity.personaTipo.first().persona.numeroCalle }}</td>
                            </tr>
                            <tr>
                                <th>Barrio</th>
                                <td>{{ entity.personaTipo.first().persona.barrio }}</td>
                            </tr>
                            <tr>
                                <th>Localidad</th>
                                <td>{{ entity.personaTipo.first().persona.localidad }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="box-footer">
                    <a class="btn btn-default" href="{{ path('clientes') }}">
                        Volver
                    </a>


                    <a class="btn btn-primary" href="{{ path('clientes_edit', { 'id': entity.id }) }}">
                        Editar
                    </a>

                </div>
            </div>
        </div>
    </div>
    {{ form(delete_form) }}


{% endblock %}
