{% extends 'ThemeBundle:Default:layout_base.html.twig' %}

{% block content_title %}
    Resumen
{% endblock %}

{% block content -%}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">CheckControlInterno</h3>
                </div>
                <div class="box-body">
                    <table class="record_properties">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Tarjetainfocard</th>
                            <td>{{ entity.tarjetaInfocard }}</td>
                        </tr>
                        <tr>
                            <th>Manualusuario</th>
                            <td>{{ entity.manualUsuario }}</td>
                        </tr>
                        <tr>
                            <th>Encendedor</th>
                            <td>{{ entity.encendedor }}</td>
                        </tr>
                        <tr>
                            <th>Alfombras</th>
                            <td>{{ entity.alfombras }}</td>
                        </tr>
                        <tr>
                            <th>Kitseguridad</th>
                            <td>{{ entity.kitSeguridad }}</td>
                        </tr>
                        <tr>
                            <th>Ruedaauxilio</th>
                            <td>{{ entity.ruedaAuxilio }}</td>
                        </tr>
                        <tr>
                            <th>Radio</th>
                            <td>{{ entity.radio }}</td>
                        </tr>
                        <tr>
                            <th>Llaveruedas</th>
                            <td>{{ entity.llaveRuedas }}</td>
                        </tr>
                        <tr>
                            <th>Controlalarma</th>
                            <td>{{ entity.controlAlarma }}</td>
                        </tr>
                        <tr>
                            <th>Manualradio</th>
                            <td>{{ entity.manualRadio }}</td>
                        </tr>
                        <tr>
                            <th>Gato</th>
                            <td>{{ entity.gato }}</td>
                        </tr>
                        <tr>
                            <th>Antena</th>
                            <td>{{ entity.antena }}</td>
                        </tr>
                        <tr>
                            <th>Llave</th>
                            <td>{{ entity.llave }}</td>
                        </tr>
                        <tr>
                            <th>Personaentrego</th>
                            <td>{{ entity.personaEntrego }}</td>
                        </tr>
                        <tr>
                            <th>Creado</th>
                            <td>{{ entity.creado|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Actualizado</th>
                            <td>{{ entity.actualizado|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="box-footer">
                    <a class="btn btn-default" href="{{ path('vehiculos') }}">
                        Volver
                    </a>


                    <a class="btn btn-primary" href="{{ path('check_control_interno_edit', { 'id': entity.id }) }}">
                        Editar
                    </a>

                </div>
            </div>
        </div>
    </div>
    {{ form(delete_form) }}


{% endblock %}
