{% extends 'ThemeBundle:Default:layout_base.html.twig' %}

{% block content_title %}
   Resumen
{% endblock %}

{% block content -%}
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Persona</h3>
            </div>
            <div class="box-body">
                <table class="record_properties">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ entity.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Apellido</th>
                            <td>{{ entity.apellido }}</td>
                        </tr>
                        <tr>
                            <th>Numerodocumento</th>
                            <td>{{ entity.numeroDocumento }}</td>
                        </tr>
                        <tr>
                            <th>Telefono</th>
                            <td>{{ entity.telefono }}</td>
                        </tr>
                        <tr>
                            <th>Celular</th>
                            <td>{{ entity.celular }}</td>
                        </tr>
                        <tr>
                            <th>Mail</th>
                            <td>{{ entity.mail }}</td>
                        </tr>
                        <tr>
                            <th>Web</th>
                            <td>{{ entity.web }}</td>
                        </tr>
                        <tr>
                            <th>Fechanacimiento</th>
                            <td>{{ entity.fechaNacimiento|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Calle</th>
                            <td>{{ entity.calle }}</td>
                        </tr>
                        <tr>
                            <th>Numerocalle</th>
                            <td>{{ entity.numeroCalle }}</td>
                        </tr>
                        <tr>
                            <th>Barrio</th>
                            <td>{{ entity.barrio }}</td>
                        </tr>
                        <tr>
                            <th>Creado</th>
                            <td>{{ entity.creado|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Actualizado</th>
                            <td>{{ entity.actualizado|date('Y-m-d H:i:s') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        <div class="box-footer">
<a class="btn btn-default" href="{{ path('personas') }}">
    Volver
</a>


        <a class="btn btn-primary" href="{{ path('personas_edit', { 'id': entity.id }) }}">
            Editar
        </a>

</div>
</div>
</div>
</div>
    {{ form(delete_form) }}


{% endblock %}
