{% extends 'ThemeBundle:Default:layout_base_reporte.pdf.twig' %}
{% block stylesheets %}
    <style>
        table {
            width: 100%;
            page-break-inside: auto;
        }
        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }
    </style>
{% endblock stylesheets %}
{% block body %}

    <div class="box-body">
        <table class="data-table table table-bordered table-striped">
            <thead>

                <tr>
                    <th>&numero;</th>
                    <th>Modelo</th>
                    <th>Color veh&iacute;culo</th>
                    <th>Vin</th>
                        {%if(tipo=='SI')%}
                        <th>Cupon</th>
                        {%endif%}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ entity.modelo }}</td>
                        <td>{{ entity.color_vehiculo }}</td>
                        <td>{{ entity.vin }}</td>
                        
                        {%if(tipo=='SI')%}
                            <th>{{entity.cupon_garantia}}</th>
                            {%endif%}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}