{% extends 'ThemeBundle:Default:layout_base_reporte.pdf.twig' %}
{% block body %}
    <style>
        label {
            font-weight: bold;
        }
    </style>

    <div>
        <label>Fecha: </label><span>{{ fechaDesde |date('d/m/Y') }} al {{ fechaHasta |date('d/m/Y') }}</span>
    </div>
    <br>

    <div class="box-body">
    <table class="data-table table table-bordered table-striped">
        <thead>
        <tr>
            <th>Total Recibidos</th>
            <th>Vehiculos Recibidos Con Danios</th>
            <th>Vehiculos Recibidos Sin Danios</th>
            <th>% Vehiculos Recibidos Con Danios</th>
            <th>% Vehiculos Recibidos Sin Danios</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>{{ entities.autosRecibidos }}</td>
            <td>{{ entities.autosRecibidosConDanos }}</td>
            <td>{{ entities.autosRecibidosSinDanos }}</td>
            <td>{{ entities.autosRecibidosConDanos * 100 / entities.autosRecibidos }} %</td>
            <td>{{ entities.autosRecibidosSinDanos * 100 / entities.autosRecibidos }} %</td>

        </tr>
        </tbody>
    </table>

    <div class="box-body">
        <div id="donut-chart" style="height: 300px;"></div>
        <img id="grafico">
    </div><!-- /.box-body-->

    {#<script src="{{ app.request.getSchemeAndHttpHost() }}{{ asset('bundles/theme/AdminLTE-2.3.0/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>#}
    {#<!-- Bootstrap 3.3.5 -->#}
    {#<script src="{{ app.request.getSchemeAndHttpHost() }}{{ asset('bundles/theme/AdminLTE-2.3.0/plugins/js/bootstrap.min.js') }}"></script>#}
    {#<!-- FastClick -->#}
    {#<script src="{{ app.request.getSchemeAndHttpHost() }}{{ asset('bundles/theme/AdminLTE-2.3.0/plugins/fastclick/fastclick.min.js') }}"></script>#}
    {#<script src="{{ app.request.getSchemeAndHttpHost() }}{{ asset('bundles/theme/AdminLTE-2.3.0/plugins/flot/jquery.flot.min.js') }}"></script>#}
    {#<!-- FLOT PIE PLUGIN - also used to draw donut charts -->#}
    {#<script src="{{ app.request.getSchemeAndHttpHost() }}{{ asset('bundles/theme/AdminLTE-2.3.0/plugins/flot/jquery.flot.pie.min.js') }}"></script>#}

    {#<script src="http://www.nihilogic.dk/labs/canvas2image/canvas2image.js"></script>#}

    {#<script>#}
        {#$(function () {#}
            {#/*#}
             {#* DONUT CHART#}
             {#* -----------#}
             {#*/#}

            {#var donutData = [#}
                {#{label: "Series2", data: 30, color: "#3c8dbc"},#}
                {#{label: "Series3", data: 20, color: "#0073b7"},#}
                {#{label: "Series4", data: 50, color: "#00c0ef"}#}
            {#];#}
            {#$.plot("#donut-chart", donutData, {#}
                {#series: {#}
                    {#pie: {#}
                        {#show: true,#}
                        {#radius: 1,#}
                        {#innerRadius: 0.5,#}
                        {#label: {#}
                            {#show: true,#}
                            {#radius: 2 / 3,#}
                            {#formatter: labelFormatter,#}
                            {#threshold: 0.1#}
                        {#}#}

                    {#}#}
                {#},#}
                {#legend: {#}
                    {#show: false#}
                {#}#}
            {#});#}
            {#/*#}
             {#* END DONUT CHART#}
             {#*/#}
        {#});#}
        {#/*#}
         {#* Custom Label formatter#}
         {#* ----------------------#}
         {#*/#}
        {#function labelFormatter(label, series) {#}
            {#return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">'#}
                    {#+ label#}
                    {#+ "<br>"#}
                    {#+ Math.round(series.percent) + "%</div>";#}
        {#}#}

        {#function to_image(){#}
            {#var canvas = document.getElementById("donut-chart");#}
            {#document.getElementById("grafico").src = canvas.toDataURL();#}
            {#Canvas2Image.saveAsPNG(canvas);#}
        {#}#}
    {#</script>#}
{% endblock %}