{% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% block title %}
    Vehículos Cupon de Garantia
{% endblock title %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#btn-exportar-excel').click(function () {
                $('#filter-form').attr('target', '_blank');
                $('#filter-form').attr('action', '{{ path('exportar_excel_reporte_vehiculos_cupon_garantia') }}');
                $('#filter-form').submit();
                $('#filter-form').removeAttr('target');
                $('#filter-form').removeAttr('action');

            });
            $('#btn-exportar-pdf').click(function () {
                $('#filter-form').attr('target', '_blank');
                $('#filter-form').attr('action', '{{ path('exportar_pdf_reporte_vehiculos_cupon_garantia') }}');
                $('#filter-form').submit();
                $('#filter-form').removeAttr('target');
                $('#filter-form').removeAttr('action');
            });
        });
    </script>
{% endblock %}
{% block content -%}

    <!-- FILTROS -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Filtros</h3>
                    <div class="box-tools pull-right">
                        <button title="" data-toggle="tooltip" data-widget="collapse" class="btn btn-box-tool"
                                data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        <button title="" data-toggle="tooltip" data-widget="remove" class="btn btn-box-tool"
                                data-original-title="Remove"><i class="fa fa-times"></i></button>
                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form class="form-horizontal" id="filter-form" name="filter-form" role="form" method="post">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Con cupon</label>
                            <div class="col-sm-4">
                                {{ form_widget(form.conCupon) }}
                            </div>
                        {#</div>  
                        <div class="form-group">#}
                            <label class="col-sm-2 control-label">Tipo venta especial</label>
                            <div class="col-sm-4">
                                {{ form_widget(form.tipoVentaEspecial) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button class="btn btn-primary btn-label-left" type="submit" id="btn-filtro-buscar">
                                    <span>
                                        <i class="fa fa-filter"></i>
                                    </span>
                                    Buscar
                                </button>
                                <button class="btn btn-primary btn-label-left" type="button" id="btn-exportar-excel"
                                        title="exportar excel">
                                    <span>
                                        <i class="fa fa-file-excel-o"></i>
                                    </span>
                                </button>
                                <button class="btn btn-primary btn-label-left" type="button" id="btn-exportar-pdf"
                                        title="exportar PDF">
                                    <span>
                                        <i class="fa fa-file-pdf-o"></i>
                                    </span>
                                </button>
                                <button class="btn btn-default" type="reset">
                                    <span>
                                        <i></i>
                                    </span>
                                    Limpiar
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN FILTROS -->

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado Vehiculos Cupon de Garantia - {{cantidadRegistros}} vehiculos encontrados</h3>


                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="data-table table table-bordered table-striped">
                        <thead>

                            <tr>
                                <th>Id</th>
                                <th>Modelo</th>
                                <th>Color vehiculo</th>
                                <th>Vin</th>
                                <th>Tipo venta</th>
                                <th>Cupon</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.id }}</td>
                                    <td>{{ entity.modelo }}</td>
                                    <td>{{ entity.color_vehiculo }}</td>
                                    <td>{{ entity.vin }}</td>
                                    <td>{{ entity.tipo_venta_especial }}</td>
                                    <td>{{ entity.cupon_garantia }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    {{ knp_pagination_render(entities) }}
{% endblock %}
