{% extends 'ThemeBundle:Default:layout_base_reporte.pdf.twig' %}

{% block body %}
    <style>
        body {
            font-size: 10pt !important;
        }
        table {
            width: 100%;
            page-break-inside: auto
        }

        td {
            text-align: center;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }

    </style>
    <div class="box-body">
        <table class="data-table table table-bordered table-striped">
            <thead>

                <tr>
                    <th>N°</th>
                    <th>Modelo</th>
                    <th>Color vehiculo</th>
                    <th>Vin</th>
                    <th>Grupo/Orden</th>
                    <th>Estado</th>
                    <th>Fecha fact</th>
                    <th>Dias en stock</th> 
                    <th>Patent</th>
                    <th>Deposito</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                {% set modelo=""%}                
                {% for entity in entities %}
                    {%if(entity.nombre_modelo!=modelo)%}

                        {% set modelo = entity.nombre_modelo%}
                        <tr>
                            <td></td>
                            <td colspan="10" style="font-weight: bold; text-align: left">{{ entity.nombre_modelo }}</td>
                        </tr>
                    {%endif%}    
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td style="text-align: left">{{ entity.modelo }}</td>
                        <td>{{ entity.color_vehiculo }}</td>
                        <td>{{ entity.vin }}</td>
                        <td>{{ entity.numero_grupo~'/'~entity.numero_orden }}</td>
                        <td>{{ entity.vehiculo_estado }}</td>
                        <td>{{ entity.fecha_emision_documento|date("d-m-Y") }}</td>
                        <td>{{ entity.dias_en_stock }}</td>   
                        <td>
                            {% if entity.estado_patentamiento_slug=="patentado" %}
                                SI
                            {% else %}
                                NO
                            {% endif %}
                        </td>
                        <td>{{ entity.deposito_actual | default ("") }}</td>                       
                        <td>{{ entity.observacion }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}