{% extends 'ThemeBundle:Default:layout_base_reporte.pdf.twig' %}
{% block body %}
    <style>
        label{
            font-weight: bold;
        }
    </style>

    <div>
        <label>Vendedor: </label> <span>{{ vendedor }}</span> <br>
        <label>Fecha: </label><span>{{ fechaDesde |date('d/m/Y') }} al {{ fechaHasta |date('d/m/Y') }}</span>
    </div>
    <br>

    <div class="box-body">
    <table class="data-table table table-bordered table-striped">
        <thead>

        <tr>
            <th>Id</th>
            <th>Modelo</th>
            <th>Color vehículo</th>
            <th>Vin</th>
            <th>Fecha Facturación</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.modelo }}</td>
                <td>{{ entity.colores_vehiculos_color }}</td>
                <td>{{ entity.vin }}</td>
                <td>{{ entity.facturas_fecha }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}