{% extends 'ThemeBundle:Default:layout_base_reporte.pdf.twig' %}
{% block body %}
    <style>
        label{
            font-weight: bold;
        }
        table{
            width: 100%;
        }
    </style>

    <div>
        <label>Fecha: </label><span>{{ fechaDesde |date('d/m/Y') }} al {{ fechaHasta |date('d/m/Y') }}</span>
    </div>
    <br>

    <div class="box-body">
        <table class="data-table table table-bordered table-striped">
            <thead>
                <tr>
                    <th>&numero;</th>
                    <th>Vehiculo</th>
                    <th>Color</th>
                    <th>Vin</th>
                    <th>Deposito</th>
                    <th>Cliente</th>
                    <th>Vendedor</th>
                    <th>Descripcion</th>
                    <th>Fecha y hora</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ loop.index }}</td>                                
                        <td>{{ entity.modelo }}</td>
                        <td>{{ entity.color }}</td>
                        <td>{{ entity.vin }}</td>
                        <td>{{ entity.deposito_actual }}</td>
                        <td>{{ entity.cliente }}</td>
                        <td>{{ entity.vendedor }}</td>
                        <td>{{ entity.descripcion_entrega }}</td>
                        <td style="font-weight: bold">{{ entity.fecha_entrega|date('d/m/Y') ~' '~entity.hora_entrega }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}