{% extends 'ThemeBundle:Default:layout_base_reporte.pdf.twig' %}

{% block body %}

    <div class="box-body">
        <table class="data-table table table-bordered table-striped">
            <thead>

            <tr>
                <th>Id</th>
                <th>Modelo</th>
                <th>Color vehiculo</th>
                <th>Vin</th>
                <th>Dias en stock</th>
                <th>Deposito</th>
                <th>Estado pago</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.modelo }}</td>
                    <td>{{ entity.color_vehiculo }}</td>
                    <td>{{ entity.vin }}</td>
                    <td>{{ entity.dias_en_stock }}</td>
                    <td>{{ entity.deposito_actual | default ("") }}</td>
                    <td align="center">
                        {% if entity.pagado %}
                            Gonzalez
                        {% else %}
                            Gpat
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}