{% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% block title %}
    Vehiculos Con Daños Internos
{% endblock title %}
{% block stylesheets %}
    <style>
        .progress-description, .info-box-text {
            display: block;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#btn-exportar-excel').click(function () {
                $('#filter-form').attr('target', '_blank');
                $('#filter-form').attr('action', '{{ path('exportar_excel_reporte_vehiculos_con_danios_internos') }}');
                $('#filter-form').submit();
                $('#filter-form').removeAttr('target');
                $('#filter-form').removeAttr('action');

            });
            $('#btn-exportar-pdf').click(function () {
                $('#filter-form').attr('target', '_blank');
                $('#filter-form').attr('action', '{{ path('exportar_pdf_reporte_vehiculos_con_danios_internos') }}');
                $('#filter-form').submit();
                $('#filter-form').removeAttr('target');
                $('#filter-form').removeAttr('action');
            });
        });
    </script>
{% endblock %}
{% block content -%}

    <!-- FILTROS -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Filtros</h3>
                    <div class="box-tools pull-right">
                        <button title="" data-toggle="tooltip" data-widget="collapse" class="btn btn-box-tool"
                                data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        <button title="" data-toggle="tooltip" data-widget="remove" class="btn btn-box-tool"
                                data-original-title="Remove"><i class="fa fa-times"></i></button>
                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form class="form-horizontal" id="filter-form" name="filter-form" role="form" method="post">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Rango de Fecha</label>
                            <div class="col-sm-4">
                                {{ form_widget(form.rango) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button class="btn btn-primary btn-label-left" type="submit" id="btn-filtro-buscar">
                                <span>
                                    <i class="fa fa-filter"></i>
                                </span>
                                    Buscar
                                </button>
                                <button class="btn btn-primary btn-label-left" type="button" id="btn-exportar-excel"
                                        title="exportar excel">
                                <span>
                                    <i class="fa fa-file-excel-o"></i>
                                </span>
                                </button>
                                <button class="btn btn-primary btn-label-left" type="button" id="btn-exportar-pdf"
                                        title="exportar PDF">
                                <span>
                                    <i class="fa fa-file-pdf-o"></i>
                                </span>
                                </button>
                                <button class="btn btn-default" type="reset">
                                <span>
                                    <i></i>
                                </span>
                                    Limpiar
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN FILTROS -->
    {% if entities is not empty and entities.autosRecibidos != 0 %}
        <style>
            .doughnut-legend li span {
                display: block;
                width: 14px;
                height: 14px;
                border-radius: 7px;
                float: left;
                margin-top: 4px;
                margin-right: 8px;
            }

            .doughnut-legend {
                list-style: none;
                margin: 0;
                padding-bottom: 5%;
                padding-left: 5%;
                font-size: 14px;
                margin-top: 20px;

            }

            .doughnut-legend li {
                margin-bottom: 4px;
            }

            .doughnut-legend li:first-letter {
                text-transform: capitalize;
            }
        </style>
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">Cantidad</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <canvas id="pieChart" style="height:250px"></canvas>

                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <div class="col-md-6">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">Porcentajes</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <canvas id="pieChartPercent" style="height:250px"></canvas>

                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-car"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total de Vehículos</span>
                        <span class="info-box-number">{{ entities.autosRecibidos }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-car"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Vehículos CON daños</span>
                        <span class="info-box-number">{{ entities.autosRecibidosConDanos }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-car"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Vehículos SIN daños</span>
                        <span class="info-box-number">{{ entities.autosRecibidosSinDanos }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% set porcentajeSinDanio=(entities.autosRecibidosSinDanos * 100 / entities.autosRecibidos)| round(2) %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-car"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Porcentaje Vehículos con daños</span>
                        <span class="info-box-number">{{ porcentajeSinDanio }}
                            <small>%</small></span>
                    </div>
                </div>
            </div>
            {% set porcentajeConDanio = (entities.autosRecibidosConDanos * 100 / entities.autosRecibidos) | round(2) %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-car"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Porcentaje Vehículos con daños</span>
                        <span class="info-box-number">{{ porcentajeConDanio }}
                            <small>%</small></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- ChartJS 1.0.1 -->
        <script src="{{ asset('bundles/theme/AdminLTE-2.3.0/plugins/chartjs/Chart.min.js') }}"></script>

        <script>
            //-------------
            //- PIE CHART -
            //-------------
            // Get context with jQuery - using jQuery's .get() method.
            var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
            var pieChartCanvasPercent = $("#pieChartPercent").get(0).getContext("2d");
            var pieChart = new Chart(pieChartCanvas);
            var pieChartPercent = new Chart(pieChartCanvasPercent);
            var PieData = [
                {
                    value: {{ entities.autosRecibidosConDanos }},
                    color: "#F7464A",
                    highlight: "#FF5A5E",
                    label: "Recibidos Con Daños"
                },
                {
                    value: {{ entities.autosRecibidosSinDanos }},
                    color: "#00a65a",
                    highlight: "#00a65a",
                    label: "Recibidos Sin Daños"
                }

            ];
            var PieDataPercent = [
                {
                    value: {{ porcentajeConDanio }},
                    color: "#F7464A",
                    highlight: "#FF5A5E",
                    label: "Recibidos Con Daños"
                },
                {
                    value: {{ porcentajeSinDanio }},
                    color: "#00a65a",
                    highlight: "#00a65a",
                    label: "Recibidos Sin Daños"
                }

            ];
            var pieOptions = {
                //Boolean - Whether we should show a stroke on each segment
                segmentShowStroke: true,
                //String - The colour of each segment stroke
                segmentStrokeColor: "#fff",
                //Number - The width of each segment stroke
                segmentStrokeWidth: 2,
                //Number - The percentage of the chart that we cut out of the middle
                percentageInnerCutout: 50, // This is 0 for Pie charts
                //Number - Amount of animation steps
                animationSteps: 100,
                //String - Animation easing effect
                animationEasing: "easeOutBounce",
                //Boolean - Whether we animate the rotation of the Doughnut
                animateRotate: true,
                //Boolean - Whether we animate scaling the Doughnut from the centre
                animateScale: false,
                //Boolean - whether to make the chart responsive to window resizing
                responsive: true,
                // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                maintainAspectRatio: true,
                //String - A legend template
                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){ %><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){ %><%=segments[i].label%><%}%></li><% }%></ul>"
            };
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            var chartC = pieChart.Doughnut(PieData, pieOptions);
            pieOptions = {
                tooltipTemplate: "<%if (label){  %><%=label%>: <% }%><%= value %>%",
            }
            var chartP = pieChartPercent.Doughnut(PieDataPercent, pieOptions);

            var helpers = Chart.helpers

            var legendHolder = document.createElement('div');
            legendHolder.innerHTML = chartC.generateLegend();

            chartC.chart.canvas.parentNode.parentNode.appendChild(legendHolder.firstChild);

            legendHolder.innerHTML = chartP.generateLegend();

            chartP.chart.canvas.parentNode.parentNode.appendChild(legendHolder.firstChild);

        </script>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <div class="box-body">
                            <h1> Sin Resultados</h1>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% endif %}


{% endblock %}

