{% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% block title %}
    Vehiculos
{% endblock title %}
{% block content -%}
    <!-- Modal -->
    <div id="modalGeneric" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="cuerpoGeneric">

            </div>

        </div>
    </div>
    <!-- FILTROS -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Filtros</h3>
                    <div class="box-tools pull-right">
                        <button title="" data-toggle="tooltip" data-widget="collapse" class="btn btn-box-tool"
                                data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        <button title="" data-toggle="tooltip" data-widget="remove" class="btn btn-box-tool"
                                data-original-title="Remove"><i class="fa fa-times"></i></button>
                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form class="form-vertical" id="form_listado" name="form_listado" role="form" method="post">

                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.numeroDocumento) }}
                                {{ form_row(form.cliente) }}
                            </div>

                            <div class="col-md-6">
                                {{ form_row(form.vendedor) }}
                                {{ form_row(form.tipoVentaEspecial) }}
                                {{ form_row(form.rango) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button class="btn btn-primary btn-label-left" type="submit" id="btn-filtro-buscar">
                                <span>
                                    <i class="fa fa-filter"></i>
                                </span>
                                    Buscar
                                </button>
                                <button class="btn btn-default" type="reset">
                                <span>
                                    <i></i>
                                </span>
                                    Limpiar
                                </button>

                            </div>
                        </div>
                        {#</form>#}
                </div>
            </div>
        </div>
    </div>
    <!-- FIN FILTROS -->

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado Vehiculos Entregados - {{ cantidadRegistros }} vehiculos
                        encontrados</h3>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="data-table table table-bordered table-striped" id="tabla-listado">
                        <thead>
                        <tr>
                            <th data-width="3%">Id</th>
                            <th data-width="15%">Cliente</th>
                            <th data-width="18%">Contacto</th>
                            <th data-width="10%">Modelo</th>
                            <th data-width="5%">Vendedor</th>
                            <th data-width="8%">Tipo de venta</th>
                            <th data-width="5%">Fecha entregado</th>
                            <th data-width="15%">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.cliente }}</td>
                                <td>
                                    <b>Tel:</b> <span>{{ entity.telefono }}</span><br>
                                    <b>Cel:</b> <span>{{ entity.celular }}</span><br>
                                    <b>Tel laboral:</b> <span>{{ entity.telefono_laboral }}</span><br>
                                    <b>mail:</b> <span>{{ entity.mail }}</span><br>
                                    <b>Direccion:</b> <span>{{ entity.calle }}{{ entity.numero_calle }}</span>
                                </td>
                                <td>{{ entity.modelo_nombre~' | '~entity.modelo_anio~' | '~entity.modelo_version }}</td>
                                <td>{{ entity.vendedor }}</td>
                                <td>{{ entity.tipo_venta_especial }}</td>
                                <td>{{ entity.fecha_estado|date("d/m/Y") }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default" target="_blank"
                                           href="{{ path('vehiculos_show', { 'id': entity.id }) }}">
                                            <i title="Ver resumen" class="fa fa-eye"></i>
                                        </a>
                                        <a class="btn btn-default"
                                           href="{{ path('crm_nueva_encuesta_resultado', {'id': encuesta.id, 'vehiculoId': entity.id }) }}">
                                            <i title="Realizar encuesta" class="fa fa-file-text"></i>
                                        </a>
                                        <a class="btn btn-default btn-crm-registrar-llamada"
                                           data-id="{{ entity.id }}"
                                           data-encuesta-id="{{ encuesta.id }}"
                                           data-toggle="modal"
                                           data-target="#modalGeneric"
                                           data-url="{{ path('ajax_crm_post_llamadas_no_concretadas', { 'id': entity.id , 'encuestaId': encuesta.id}) }}">
                                            <i title="Registrar Llamada" class="fa fa-phone-square"></i>
                                        </a>
                                        <span class="badge-{{ entity.id }} label label-warning hidden"
                                              data-toggle="tooltip"
                                              title="" data-original-title="Cantidad de llamadas"></span>
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <label class="control-label col-xs-1 col-xs-offset-9"> Registros:</label>
                    <div class="col-xs-2">
                        {{ form_widget(form.registrosPaginador) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ knp_pagination_render(entities) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "VehiculosBundle:Vehiculo:index.js.twig" %}
    <script>
        $(document).ready(function () {


            {% set formFilter = app.request.request.get('crmbundle_vehiculo_filter') %}

            {% if formFilter is not null %}
            $('.pagination li a').click(function () {

                $('#form_listado').attr('action', this.href);
                {% for row in form if formFilter[row.vars.name] is defined %}
                $('#{{ row.vars.id }}').val('{{ formFilter[row.vars.name] }}');
                {% endfor %}

                $('#form_listado').submit();
                return false;
            });
            {% endif %}

            $(".btn-crm-registrar-llamada").each(function (index) {
                var id = $(this).data('id');
                var encuestaid = $(this).data('encuesta-id');

                $.ajax({
                    type: 'post',
                    url: '{{ path('ajax_crm_cantidad_llamadas_no_concretadas') }}',
                    data: {encuestaId: encuestaid, id: id},
                    success: function (data) {
                        if (data !== 0) {
                            $('.badge-' + id).removeClass('hidden');
                            $('.badge-' + id).html(data);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                    }
                });

            });
        });


    </script>
{% endblock %}
