{% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% block title %}
    Reporte Encuestas Realizadas
{% endblock title %}
{% block content_title %}
    Reporte Encuesta {{ app.request.get('slug') }}
{% endblock content_title %}
{% block content -%}
    <!-- Modal -->
    <div id="modalGeneric" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="cuerpoGeneric">

            </div>

        </div>
    </div>
    <!-- FILTROS -->

    <!-- FIN FILTROS -->

    {% for key, resultado in resultados %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ key }}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Respuesta</th>
                                <th>Cantidad</th>
                                <th>%</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set objetivo = 0 %}
                            {% set media = 0 %}
                            {% set ipc = 0 %}
                            {% set sumaIpc = 0 %}
                            {% set nps = 0 %}
                            {% set promotores = 0 %}
                            {% set neutros = 0 %}
                            {% set detractores = 0 %}
                            {% set color =  '#FFF' %}

                            {% for keyR, itemR in resultado %}
                                {% if keyR == 'objetivo' %}
                                    {% set objetivo = itemR %}
                                {% elseif keyR =='media' %}
                                    {% set media = itemR %}
                                {% elseif keyR =='ipc' %}
                                    {% set ipc = itemR %}
                                {% elseif keyR =='nps' %}
                                    {% set nps = itemR %}
                                {% else %}
                                    {% if keyR =='promotores' %}
                                        {% set promotores = itemR %}
                                        {% set color =  '#39ac73' %}
                                    {% endif %}
                                    {% if keyR =='neutros' %}
                                        {% set neutros = itemR %}
                                        {% set color =  '#f2f2f2' %}
                                    {% endif %}
                                    {% if keyR =='detractores' %}
                                        {% set detractores = itemR %}
                                        {% set color =  '#ff3333' %}
                                    {% endif %}
                                    {% set pregunta = '' %}
                                    {% if opciones[keyR]['texto_opcion'] is defined and aValoresIpc[opciones[keyR]['texto_opcion']] is defined %}
                                        {% set pregunta = opciones[keyR]['texto_opcion'] ~' - '~ opciones[keyR]['valor_literal'] %}
                                        {% set sumaIpc = sumaIpc + aValoresIpc[opciones[keyR]['texto_opcion']] %}
                                        {% if opciones[keyR]['texto_opcion'] == 1 %}
                                            {% set color =  '#ff3333' %}
                                        {% elseif opciones[keyR]['texto_opcion'] == 2 %}
                                            {% set color =  '#ffffb3' %}
                                        {% elseif opciones[keyR]['texto_opcion'] == 3 %}
                                            {% set color =  '#d9f2e6' %}
                                        {% elseif opciones[keyR]['texto_opcion'] == 4 %}
                                            {% set color =  '#8cd9b3' %}
                                        {% elseif opciones[keyR]['texto_opcion'] == 5 %}
                                            {% set color =  '#39ac73' %}
                                        {% endif %}
                                    {% elseif opciones[keyR]['texto_opcion'] is defined %}
                                        {% set pregunta = opciones[keyR]['texto_opcion'] %}
                                    {% else %}
                                        {% set pregunta = opciones[keyR] %}
                                    {% endif %}
                                    <tr>
                                        <td width="10" style="background-color: {{ color }}">

                                        </td>
                                        <td>
                                            {{ pregunta }}
                                        </td>
                                        <td>
                                            {{ itemR }}
                                        </td>
                                        <td>
                                            {{ ((itemR * 100 )/cantidadEncuestas) |round(2) }}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-5">
                                {% if ipc %}
                                    <span class="label bg-gray">Indice IPC</span>
                                    {% set ipc = sumaIpc / cantidadEncuestas %}
                                    {% set colorIpc = 'bg-gray' %}

                                    {% if ipc >= objetivo %}
                                        {% set colorIpc = 'bg-green' %}
                                    {% elseif ipc < objetivo and ipc > media %}
                                        {% set colorIpc = 'bg-yellow' %}
                                    {% elseif ipc < media %}
                                        {% set colorIpc = 'bg-red' %}
                                    {% endif %}
                                    <span class="label {{ colorIpc }}">{{ ipc }}</span>
                                {% elseif nps %}
                                    <span class="label bg-gray">NPS</span>
                                    <span class="label bg-gray">{{ promotores - detractores }}</span>
                                {% endif %}
                            </div>
                            {% if ipc %}
                                <div class="col-md-4">
                                    <span class="label bg-green">+ {{ objetivo }}</span>
                                    <span class="label bg-yellow">{{ media }}</span>
                                    <span class="label bg-red">- {{ media }}</span>
                                </div>
                                <div class="col-md-3">
                                    <span class="label bg-gray">Objetivo: {{ objetivo }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

