{% extends 'ThemeBundle:Default:layout_base_reporte.pdf.twig' %}
{% block stylesheets %}
    {#<link rel="stylesheet" href="{{ asset('bundles/theme/AdminLTE-2.3.0/bootstrap/css/bootstrap.min.css',null, true) }}">#}
    {#<link rel="stylesheet" href="{{ asset('bundles/theme/AdminLTE-2.3.0/dist/css/AdminLTE.min.css',null, true) }}">#}
    <style>
        body {
            font-size: 10pt !important;
        }

        table {
            width: 100%;
            page-break-inside: avoid
        }

        td {
            text-align: center;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: avoid
        }

        .row {
            page-break-inside: avoid;
            page-break-after: avoid;
        }

        .col-xs-12 {
            width: 100%;
        }

        .box-title {
            border-top: 1px solid gainsboro;
        }

        .box-header:before {
            content: "\a";
            white-space: pre;
        }

        .box-footer {
            width: 100%;
            margin-top: 2%;
        }

        .col-md-4, .col-md-5, .col-md-3 {
            float: left;
        }

        .col-md-5 {
            width: 41.66666667%;
        }

        .col-md-4 {
            width: 33.33333333%;
        }

        .col-md-3 {
            width: 25%;
        }

        .bg-yellow {
            background-color: #f39c12 !important;
            padding: 1%;
        }

        .bg-gray {
            color: #000;
            background-color: #d2d6de !important;
            padding: 1%;
        }

        .bg-green {
            background-color: #00a65a !important;
            padding: 1%;
        }

        .bg-red {
            background-color: #dd4b39 !important;
            padding: 1%;
        }
    </style>
{% endblock stylesheets %}
{% block body %}
    {% for keyN, resultado in resultados %}
        {% for key, resultado in resultado %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">{{ keyN }} - {{ key }}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Respuesta</th>
                                    <th>Cantidad</th>
                                    <th>%</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set objetivo = 0 %}
                                {% set media = 0 %}
                                {% set ipc = 0 %}
                                {% set sumaIpc = 0 %}
                                {% set nps = 0 %}
                                {% set promotores = 0 %}
                                {% set neutros = 0 %}
                                {% set detractores = 0 %}
                                {% set color =  '#FFF' %}

                                {% for keyR, itemR in resultado %}
                                    {% if keyR == 'objetivo' %}
                                        {% set objetivo = itemR %}
                                    {% elseif keyR =='media' %}
                                        {% set media = itemR %}
                                    {% elseif keyR =='ipc' %}
                                        {% set ipc = itemR %}
                                    {% elseif keyR =='nps' %}
                                        {% set nps = itemR %}
                                    {% else %}
                                        {% if keyR =='promotores' %}
                                            {#{% set promotores = itemR %}#}
                                            {% set promotores = ((itemR * 100 )/cantidadEncuestas) %}
                                            {% set color =  '#39ac73' %}
                                        {% endif %}
                                        {% if keyR =='neutros' %}
                                            {#{% set neutros = itemR %}#}
                                            {% set neutros = ((itemR * 100 )/cantidadEncuestas) %}
                                            {% set color =  '#f2f2f2' %}
                                        {% endif %}
                                        {% if keyR =='detractores' %}
                                            {#{% set detractores = itemR %}#}
                                            {% set detractores = ((itemR * 100 )/cantidadEncuestas) %}
                                            {% set color =  '#ff3333' %}
                                        {% endif %}
                                        {% set pregunta = '' %}
                                        {% if opciones[keyR]['texto_opcion'] is defined and aValoresIpc[opciones[keyR]['texto_opcion']] is defined %}
                                            {% set pregunta = opciones[keyR]['texto_opcion'] ~' - '~ opciones[keyR]['valor_literal'] %}
                                            {# suma ipc basada en tabla de valor#}
                                            {% set sumaIpc = sumaIpc + (aValoresIpc[opciones[keyR]['texto_opcion']] * itemR) %}
                                            {% if opciones[keyR]['texto_opcion'] == 1 %}
                                                {% set color =  '#ff3333' %}
                                            {% elseif opciones[keyR]['texto_opcion'] == 2 %}
                                                {% set color =  '#ffffb3' %}
                                            {% elseif opciones[keyR]['texto_opcion'] == 3 %}
                                                {% set color =  '#d9f2e6' %}
                                            {% elseif opciones[keyR]['texto_opcion'] == 4 %}
                                                {% set color =  '#8cd9b3' %}
                                            {% elseif opciones[keyR]['texto_opcion'] == 5 %}
                                                {% set color =  '#39ac73' %}
                                            {% endif %}
                                        {% elseif opciones[keyR]['texto_opcion'] is defined %}
                                            {% set pregunta = opciones[keyR]['texto_opcion'] %}
                                        {% else %}
                                            {% set pregunta = opciones[keyR] %}
                                        {% endif %}
                                        <tr>
                                            <td width="10" style="background-color: {{ color }}">

                                            </td>
                                            <td>
                                                {{ pregunta }}
                                            </td>
                                            <td>
                                                {{ itemR }}
                                            </td>
                                            <td>
                                                {{ ((itemR * 100 )/cantidadEncuestas) |round(2) }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-5">
                                    {% if ipc %}
                                        <span class="label bg-gray">Indice IPC</span>
                                        {% set ipc = sumaIpc / cantidadEncuestas %}
                                        {% set colorIpc = 'bg-gray' %}

                                        {% if ipc >= objetivo %}
                                            {% set colorIpc = 'bg-green' %}
                                        {% elseif ipc < objetivo and ipc > media %}
                                            {% set colorIpc = 'bg-yellow' %}
                                        {% elseif ipc < media %}
                                            {% set colorIpc = 'bg-red' %}
                                        {% endif %}
                                        <span class="label {{ colorIpc }}">{{ ipc }}</span>
                                    {% elseif nps %}
                                        <span class="label bg-gray">NPS</span>
                                        <span class="label bg-gray">{{ promotores - detractores }}</span>
                                    {% endif %}
                                </div>
                                {% if ipc %}
                                    <div class="col-md-4">
                                        <span class="label bg-green">+ {{ objetivo }}</span>
                                        <span class="label bg-yellow">{{ media }}</span>
                                        <span class="label bg-red">- {{ media }}</span>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="label bg-gray">Objetivo: {{ objetivo }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}