{% extends 'ThemeBundle:Default:layout_base.html.twig' %}

{% block content_title %}
    Checklist Control Interno
{% endblock %}


{% block content -%}
    <div class="row">
        <div class="col-md-12">


            <form method="post" id="form-checklist"
                  action="">
                {#                {{ form_widget(formDanioInterno.danioVehiculoInterno) }}#}
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Control Interno</h3>                            
                            {% if cabecera %}
                                {#{#                                <div class="form-group">#}
                                <div class="checkbox"> 
                                    <label><input type="checkbox" value="" name="firmado" id="firmado"
                                                  {%if(tipoTransaccion=='cierre')%} checked {% endif %}         />firmado
                                    </label>
                                </div>
                                {#                                </div>#}
                            {% endif %}
                            {%if(tipoTransaccion=='cierre')%}
                                <label for="inputSuccess" class="control-label">
                                    <i class="fa fa-check"></i>
                                    Verifique que los item seleccionados coincidan con el check list firmado por el Cliente
                                </label>
                            {%endif%}
                        </div>
                        <div class="box-body">
                            {% for pregunta in preguntasOriginales %}
                                <div class="form-group">
                                    <div class="checkbox"> 
                                        <label><input type="checkbox" value="{{pregunta.id}}" name="{{pregunta.id}}"
                                                      {% if pregunta.id in preguntasSeleccionadas %} 
                                                          checked 
                                                      {% endif%} 
                                                      />{{ pregunta.pregunta }}
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}                            
                            <button class="btn btn-primary" id="btn-guardar-checklist" type="submit">Guardar</button>
                            <a class="btn btn-default" href="{{ path('vehiculos_pendientes_por_entregar_index') }}">
                                Volver
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#firmado').click(function () {
                if ($('#firmado').is(':checked')) {
        {%if cabecera %}
                        window.location = "{{ path('check_control_interno', { 'vehiculoId': cabecera.vehiculo.id,'tipoTransaccion':'cierre' }) }}";
        {%endif %}
                    }
                })
            })
            window.onload = function (e) {
        {%if(tipoTransaccion=='cierre')%}
                $('.checkbox :input').attr('onclick', 'return false');
        {%endif%}
            }
    </script>
{% endblock javascripts %}
