{% extends 'ThemeBundle:Default:layout_base.html.twig' %}

{% block content_title %}
    Checklist Preentrega
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).on('change', '.categoria_danio_interno_select', function () {
            var data = {
                categoria_id: $(this).val()
            };
            $.ajax({
                type: 'post',
                url: '{{ path("get_tipo_danios_internos") }}',
                data: data,
                success: function (data) {
                    $('.tipo_danio_interno_select').html(data);
                }
            });
        });
    </script>
{% endblock javascripts %}

{% block content -%}
    <div class="row">
        <div class="col-md-12">


            <form method="post" id="form-checklist"
                  action="{{ path('crear_resultado_respuesta', {'cuestionarioId':cuestionario.id }) }}">
                {% for categoria in categorias %}
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">{{ categoria.nombre }}</h3>
                            </div>
                            <div class="box-body">

                                {{ render(controller('CuestionariosBundle:Cuestionario:getCamposPorCategoria', { 'id':categoria.id } )) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Daños Interno</h3>
                        </div>

                        <div class="box-body">
                            {{ form_widget(formDanioInterno.danioVehiculoInterno) }}
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" id="btn-guardar-checklist" type="submit">Guardar</button>
                <a class="btn btn-default" href="{{ path('vehiculos_recibidos_index') }}">
                    Volver
                </a>
            </form>
        </div>
    </div>

{% endblock %}
