{% extends 'ThemeBundle:Default:layout_base.html.twig' %}

{% block content_title %}
    Formulario de Edicion
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        var itemCant{{edit_form.danioVehiculoGm.vars.id}} = {{ edit_form.danioVehiculoGm.count | default(0)}};{#var itemCant{{edit_form.danioVehiculoGm.vars.data.fotoDanio.vars.id}} = {{ edit_form.danioVehiculoGm.vars.data.fotoDanio.count | default(0)}};#}
                $(document).ready(function () {
            $(".maskdocumento").inputmask({mask: "**[*][*]-*****[*][*]-*-**", greedy: false});
            $(".maskmoney").inputmask('decimal', {rightAlign: false});
            $('.agregar-danio').click(function () {

                var itemList = $('#danio-vehiculo-list table');

                if (itemList.find('tbody tr').length < 9999) {

//                    console.log(itemList)
                    var newWidget = itemList.data('prototype');
                    newWidget = newWidget.replace(/__daniovehiculo__/g, itemCant{{edit_form.danioVehiculoGm.vars.id}});
                    var newTr = $('<tr item="' + itemCant{{edit_form.danioVehiculoGm.vars.id}} + '"></tr>').html(newWidget);
                    itemCant{{edit_form.danioVehiculoGm.vars.id}}++;
                    newTr.appendTo(itemList);
                }
//                                            inicializarFecha();
                $(this).trigger('clicked');
                return false;
            });

            $(document).on('click', '.agregar-foto', function () {
                var itemCantFoto = $(this).data('cant');

                var btnAddFoto = $(this);
                var itemList = $(this).parent('.foto-list');
//                console.log(itemCantFoto)

                if (itemList.find('div').length < 9999) {


                    var newWidget = itemList.data('prototype');
                    newWidget = newWidget.replace(/__foto__/g, itemCantFoto);
                    var newTr = $('<tr item="' + itemCantFoto + '"></tr>').html(newWidget);
                    itemCantFoto++;
                    btnAddFoto.parent('td').find('.elements').append(newTr);
                }
//                                            inicializarFecha();
                btnAddFoto.data('cant', itemCantFoto);
                $(this).trigger('clicked');
                return false;
            });

            $(document).on('click', '.btn-remove-foto', function () {
                $(this).parent('tr').remove();
            });

//            tipo de venta
            $('#{{ edit_form.tipoVentaEspecial.vars.id }}').change(function () {

                var id = $(this).val()

                checkTipoVenta(id);


            });


            var id = $('#{{ edit_form.tipoVentaEspecial.vars.id }}').val()

            checkTipoVenta(id);

            function checkTipoVenta(id) {
                $.ajax({
                    url: "{{ path('get_muestra_campos_plan_de_ahorro') }}",
                    method: "GET",
                    data: {id: id},
                    success: function (data) {
                        if (data.muestra_plan_ahorro == true) {
                            $('.plan-field').removeClass('hidden');
                            $('.plan-field').attr('required', 'required');
                            $('.cliente').removeClass('hidden');
                            $('.cliente').attr('required', 'required');
                        } else {
                            $('.plan-field').addClass('hidden');
                            $('.plan-field').removeAttr('required');
                            $('.plan-field').val('');
                            if (data.slug == 'venta-especial') {
                                $('.cliente').removeClass('hidden');
                                $('.cliente').attr('required', 'required');
                            }else{
                                $('.cliente').addClass('hidden');
                                $('.cliente').removeAttr('required');
                                $('.cliente').val('');
                            }
                        }
                         }
                     });
                 }

                 $('#{{ edit_form.vin.vars.id }}').keyup(function () {
                     $('#{{ edit_form.chasis.vars.id }}').val($('#{{ edit_form.vin.vars.id }}').val());
                 });
             });
    </script>
{% endblock javascripts %}

{% block content -%}



    {% set danioVehiculoProto %}

        {% set fotoProto %}
            <button type="button" class="btn btn-box-tool pull-right btn-remove-foto">
                <i class="fa fa-remove"></i>
            </button>
            {{ form_widget(edit_form.danioVehiculoGm.vars.prototype.fotoDanio.vars.prototype) }}

        {% endset %}

        <td>{{ form_widget(edit_form.danioVehiculoGm.vars.prototype.tipoDanio) }}</td>
        <td>{{ form_widget(edit_form.danioVehiculoGm.vars.prototype.codigoDanio) }}</td>
        <td>{{ form_widget(edit_form.danioVehiculoGm.vars.prototype.gravedadDanio) }}</td>
        <td class="foto-list"
            data-prototype="{{ fotoProto |e }}">
            <div class="elements">

            </div>
            <a class="btn btn-default pull-right agregar-foto"
               data-cant="0"
               href="#"><i class="fa fa-plus"></i></a>
        </td>
        <td>
            <a class="btn btn-default" title="Borrar item"
               href="javascript:void(0)"
               onclick="bootstrapCollectionBorrarItem(this);"><i
                    class="fa fa-fw fa-trash-o"></i></a>
        </td>
    {% endset %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Vehiculo</h3>
                </div>
                {#{{ form(edit_form) }}#}
                {{ form_start(edit_form) }}
                {{ form_row(edit_form.documento) }}
                {{ form_row(edit_form.fechaEmisionDocumento) }}
                {{ form_row(edit_form.vin) }}
                {{ form_row(edit_form.chasis) }}
                {{ form_row(edit_form.modelo) }}
                {{ form_row(edit_form.colorVehiculo) }}
                {{ form_row(edit_form.motor) }}
                {{ form_row(edit_form.importe) }}
                {{ form_row(edit_form.impuestos) }}
                {{ form_row(edit_form.numeroPedido) }}                
                {{ form_row(edit_form.tipoVentaEspecial) }}
                {{ form_row(edit_form.numeroGrupo) }}
                {{ form_row(edit_form.numeroSolicitud) }}
                {{ form_row(edit_form.numeroOrden) }}
                {{ form_row(edit_form.cliente) }}
                <div class="jumbotron">
                    <h3>Remito</h3>
                    {{ form_row(edit_form.remito.fecha) }}
                    {{ form_row(edit_form.remito.numero) }}
                    {{ form_row(edit_form.remito.fechaRecibido) }}
                </div>
                {{ form_row(edit_form.tieneLlaves) }}
                {{ form_row(edit_form.tieneManual) }}
                {{ form_row(edit_form.codigoInmobilizador) }}
                {{ form_row(edit_form.codigoLlave) }}
                {{ form_row(edit_form.codigoRadio) }}
                {{ form_row(edit_form.kmIngreso) }}
                {{ form_row(edit_form.codigoSeguridad) }}
                {{ form_row(edit_form.transportista) }}
                <div id="danio-vehiculo-list">
                    <table class="table table-striped table-bordered"
                           data-prototype="{{ danioVehiculoProto|e }}">
                        <thead>
                            <tr>
                                <th>Tipo Daño</th>
                                <th>Codigo Daño</th>
                                <th>Gravedad</th>
                                <th>Foto</th>
                                <th>Acción</th>

                            </tr>

                        </thead>
                        <tbody>
                            {% for danioVehiculo in edit_form.danioVehiculoGm %}
                                <tr>
                                    <td>{{ form_widget(danioVehiculo.tipoDanio) }}</td>
                                    <td>{{ form_widget(danioVehiculo.codigoDanio) }}</td>
                                    <td>{{ form_widget(danioVehiculo.gravedadDanio) }}</td>
                                    {% set fotoProtoList %}
                                <button type="button" class="btn btn-box-tool pull-right btn-remove-foto">
                                    <i class="fa fa-remove"></i>
                                </button>
                                {{ form_widget(danioVehiculo.fotoDanio.vars.prototype) }}

                            {% endset %}
                            <td class="foto-list"
                                data-prototype="{{ fotoProtoList |e }}">
                                <div class="elements">
                                    {% for fotoDanio in danioVehiculo.fotoDanio %}
                                        <img class="img-responsive" width="300" height="300"
                                             src="{{ app.request.basePath ~ '/uploads/fotos_danio/' ~ fotoDanio.vars.data.ruta }}">
                                        {{ form_widget(fotoDanio) }}
                                    {% endfor %}
                                </div>
                                <a class="btn btn-default pull-right agregar-foto"
                                   data-cant="{{ danioVehiculo.fotoDanio.count + 1 }}"
                                   href="#"><i class="fa fa-plus"></i></a>
                            </td>
                            <td>
                                <a class="btn btn-default" title="Borrar item"
                                   href="javascript:void(0)"
                                   onclick="bootstrapCollectionBorrarItem(this);"><i
                                        class="fa fa-fw fa-trash-o"></i></a>
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="box-footer clearfix no-border">
                        <a class="btn btn-default pull-right agregar-danio"
                           href="#"><i class="fa fa-plus"></i> Agregar</a>
                    </div>
                </div>

                {{ form_widget(edit_form._token) }}
                {{ form_widget(edit_form.submit) }}

                <a class="btn btn-default" href="{{ path('vehiculos') }}">
                    Volver
                </a>
            </div>
        </div>
    </div>
    {#{{ form(delete_form) }}#}

{% endblock %}
