{% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% block title %}
    Vehiculos
{% endblock title %}
{% block content -%}
    <!-- Modal -->
    <div id="modalGeneric" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="cuerpoGeneric">

            </div>

        </div>
    </div>
    <!-- FILTROS -->
    {% include "VehiculosBundle:Vehiculo:formVehiculoFiltros.html.twig" %}
    <!-- FIN FILTROS -->

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado Vehiculos Entregados - {{cantidadRegistros}} vehiculos encontrados</h3>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="data-table table table-bordered table-striped" id="tabla-listado">
                        <thead>

                            <tr>
                                <th>Id</th>                                
                                <th>Modelo</th>
                                <th>Color vehiculo</th>
                                <th>Vin</th>
                                <th>Estado Pago</th>
                                <th>Tipo de venta</th>
                                <th>Deposito</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.id }}</td>
                                    <td>{{ entity.modelo_nombre~' | '~entity.modelo_anio~' | '~entity.modelo_codigo~' | '~entity.modelo_version }}</td>
                                    <td>{{ entity.color_vehiculo }}</td>
                                    <td>{{ entity.vin }}</td>
                                    <td align="center">
                                        {% if entity.venta_especial_slug == 'convencional' %}
                                            {%if entity.pagado %}
                                                Gonzalez
                                            {%else%}
                                                <a class="btn btn-pagado" data-toggle="modal"
                                                   data-target="#modalGeneric"
                                                   data-url="{{ path('new_registro_pago_a_gm_ajax', { 'vehiculoId': entity.id }) }}"
                                                   title="Registrar pago">Gpat</a>
                                            {%endif%}
                                        {%endif%}
                                    </td>
                                    <td>{{ entity.tipo_venta_especial }}</td>
                                    <td>{{ entity.deposito_actual | default ("") }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-default"
                                               href="{{ path('vehiculos_show', { 'id': entity.id }) }}"><i
                                                        title="Ver resumen" class="fa fa-eye"></i></a>

                                            <a class="btn {% if(entity.dominio!='') %}btn-success{% elseif(entity.estado_patentamiento=='iniciado') %}btn-warning{% else %}btn-default{% endif %}"
                                               href="{{ path('vehiculos_edit_patente', { 'vehiculoId': entity.id }) }}"
                                               title="Patente"><i class="fa icon-patente"></i></a>
                                            {% if (entity.encuesta_alerta_temprana=='') %}
                                                <a class="btn {% if(entity.dominio=='2asd') %}btn-success{% else %}btn-default{% endif %}"
                                                   href="{{ path('crear_alerta_temprana', { 'vehiculoId': entity.id }) }}"
                                                   title="Alerta temprana"><i class="fa fa-commenting-o"></i></a>
                                            {% endif %}
                                            <a class="btn {% if(entity.cupon_garantia!='') %}btn-success{% else %}btn-default{% endif %} btn-cupon-garantia"
                                               data-toggle="modal"
                                               data-target="#modalGeneric"
                                               data-url="{{ path('new_cupon_garantia_ajax', { 'vehiculoId': entity.id }) }}"
                                               title="Cupón de garantia"><i class="fa fa-bookmark"></i></a>
                                               {% if (entity.danio_gm_sin_solucionar!='') %}
                                                <span title="Daño de GM sin solucionar" class="label label-danger">GM</span>
                                            {%endif%} 
                                        </div>
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <label  class="control-label col-xs-1 col-xs-offset-9"> Registros:</label>
                    <div class="col-xs-2">
                        {{ form_widget(form.registrosPaginador) }}
                    </div> 
                </div>   
            </div>
        </div>
    </div>

    {{ knp_pagination_render(entities) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "VehiculosBundle:Vehiculo:index.js.twig"%}
    <script>
        $(document).ready(function () {


        {% set formFilter = app.request.request.get('vehiculosbundle_vehiculo_filter') %}

        {% if formFilter is not null %}
                $('.pagination li a').click(function () {

                    $('#form_listado').attr('action', this.href);
            {% for row in form %}
                        $('#{{row.vars.id}}').val('{{formFilter[row.vars.name]}}');
            {% endfor %}

                        $('#form_listado').submit();
                        return false;
                    });
        {% endif %}

            });


    </script>
{% endblock %}
