{% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% block title %}
    Vehiculos
{% endblock title %}
{% block content -%}
    <!-- Modal -->
    <div id="modalDeposito" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="cuerpoMovimientoDepostido">

            </div>

        </div>
    </div>
    <!-- FILTROS -->
    {% include "VehiculosBundle:Vehiculo:formVehiculoFiltros.html.twig" %}
    <!-- FIN FILTROS -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado Vehiculos</h3>
                    
                    
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="data-table table table-bordered table-striped">
                        <thead>

                            <tr>
                                <th>Id</th>
                                <th>Vin</th>
                                <th>Modelo</th>
                                <th>Motor</th>                            
                                <th>Color externo</th>
                                <th>Numero remito</th>
                                <th>Fecha remito</th> 
                                <th>Numero pedido</th>
                                <th>Tipo de venta</th>
                                <th>Deposito</th>
                                <th>Estado</th>
                                <th>Observacion</th>
                                <th>Actions</th>                                

                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td><a href="{{ path('vehiculos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                    <td>{{ entity.vin }}</td>
                                    <td>{{ entity.modelo }}</td>
                                    <td>{{ entity.motor }}</td>                                
                                    <td>{{ entity.color_externo }}</td>
                                    <td>{{ entity.remito_numero }}</td>
                                    <td>{{ entity.remito_fecha|date("d-m-Y") }}</td>
                                    <td>{{ entity.numero_pedido }}</td>
                                    <td>{{ entity.tipo_venta_especial }}</td>
                                    <td>{{ entity.deposito_actual | default ("") }}</td>
                                    <td>{{ entity.vehiculo_estado | default ("") }}</td>                                    
                                    <td>{{ entity.observacion }}</td>
                                    <td>

                                        <a class="btn btn-default" href="{{ path('vehiculos_show', { 'id': entity.id }) }}"><i
                                                class="fa fa-eye"></i></a>

                                        {% if entity.vehiculo_estado_slug != 'pendiente-por-recibir' %}
                                            <a class="btn btn-default btn-deposito" data-toggle="modal"
                                               data-target="#modalDeposito"
                                               data-url="{{ path('new_movimiento_deposito_ajax', { 'vehiculoId': entity.id }) }}"
                                               title="Mover de Deposito"><i class="fa fa-exchange"></i></a>
                                            {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary" href="{{ path('vehiculos_alta') }}">
                        Alta
                    </a>
                </div>       
            </div>
        </div>
    </div>
    {{ knp_pagination_render(entities) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.btn-deposito').click(function () {
                url = $(this).data('url');
                $.ajax({
                    type: 'get',
                    url: url,
                    success: function (data) {
                        $('#cuerpoMovimientoDepostido').html(data);
                    },
                });
            });


        });

        $(document).on('submit', '#form', function (ev) {
            ev.preventDefault();
            datos = $('#form').serializeArray();
            url = '{{path('movimiento_deposito_create_ajax')}}';
            $.ajax({
                type: 'post',
                url: url,
                data: datos,
                success: function (data) {
                    $('#modalDeposito').modal('toggle');
                    modalAlert('La operación se realizó con exito');

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#modalDeposito').modal('toggle');
                    modalAlert('La operación no se realizo');
                }
            });
        });

    </script>
{% endblock %}
