{% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% block title %}
    Vehiculos
{% endblock title %}
{% block content -%}
    <!-- Modal -->
    <div id="modalGeneric" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="cuerpoGeneric">

            </div>

        </div>
    </div>

    <!-- FILTROS -->
    {% include "VehiculosBundle:Vehiculo:formVehiculoFiltros.html.twig" %}
    <!-- FIN FILTROS -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado Vehiculos - {{cantidadRegistros}} vehiculos encontrados</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="data-table table table-bordered table-striped" id="tabla-listado">
                        <thead>

                            <tr>
                                <th data-width="3%">Id</th>
                                <th data-width="22%">Modelo</th>
                                <th data-width="5%">Color vehiculo</th>
                                <th data-width="5%">Vin</th>
                                <th data-width="3%">Dias stock</th>
                                <th data-width="5%">Estado Pago</th>
                                <th data-width="5%">Tipo de venta</th>
                                <th data-width="5%">Deposito</th>
                                <th data-width="5%">Estado</th>
                                <th data-width="5%">Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.id }}</td>
                                    <td>{{ entity.modelo_nombre~' | '~entity.modelo_anio~' | '~entity.modelo_version }}</td>
                                    <td>{{ entity.color_vehiculo }}</td>
                                    <td>{{ entity.vin }}</td>
                                    <td>{{ entity.dias_en_stock }}</td>
                                    <td align="center">
                                        {% if entity.venta_especial_slug == 'convencional' %}
                                            {% if entity.pagado %}
                                                {% if app.user.tienePermisoEspecial('registrar_pago_gm') %}
                                                    <a
                                                        class="btn btn-delete-pago"
                                                        data-toggle="modal"
                                                        data-target="#modalGeneric"
                                                        data-url="{{ path('new_delete_pago_a_gm_ajax', { 'vehiculoId': entity.id }) }}"
                                                        title="Registrar pago">Gonzalez</a>
                                                {% else %}
                                                    Gonzalez
                                                {% endif %}
                                            {% else %}
                                                {% if app.user.tienePermisoEspecial('registrar_pago_gm') %}
                                                    <a
                                                        class="btn btn-pagado"
                                                        data-toggle="modal"
                                                        data-target="#modalGeneric"
                                                        data-url="{{ path('new_registro_pago_a_gm_ajax', { 'vehiculoId': entity.id }) }}"
                                                        title="Registrar pago">Gpat</a>
                                                {% else %}
                                                    Gpat
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>{{ entity.tipo_venta_especial }}</td>
                                    <td>{{ entity.deposito_actual | default ("") }}</td>
                                    <td>{{ entity.vehiculo_estado | default ("") }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-default"
                                               href="{{ path('vehiculos_show', { 'id': entity.id }) }}" title="Ver resumen"><i
                                                    class="fa fa-eye"></i></a>

                                            {% if entity.vehiculo_estado_slug != 'transito' %}
                                                <a class="btn btn-default btn-deposito" data-toggle="modal"
                                                   data-target="#modalGeneric"
                                                   data-url="{{ path('new_movimiento_deposito_ajax', { 'vehiculoId': entity.id }) }}"
                                                   title="Mover de Deposito"><i class="fa fa-exchange"></i></a>
                                                {% endif %}
                                        </div>
                                        {% if (entity.danio_gm_sin_solucionar!='') %}
                                            <span data-toggle="tooltip" data-original-title="Daño de GM sin solucionar" title="" class="label label-danger">GM</span>
                                        {%endif%}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    {% if app.user.tienePermisoEspecial('nuevo-vehiculo') %}
                        <div class="col-xs-2">
                            <a class="btn btn-primary" href="{{ path('vehiculos_alta') }}">
                                Alta
                            </a>
                        </div>
                    {%else%}
                        <div class="col-xs-2">
                            &nbsp;
                        </div>
                    {%endif%}
                    <label  class="control-label col-xs-1 col-xs-offset-7"> Registros:</label>
                    <div class="col-xs-2">
                        {{ form_widget(form.registrosPaginador) }}
                    </div> 
                </div>       
            </div>
        </div>
    </div>
    {{ knp_pagination_render(entities) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "VehiculosBundle:Vehiculo:index.js.twig"%}
    <script>
        $(document).ready(function () {

        {% set formFilter = app.request.request.get('vehiculosbundle_vehiculo_filter') %}

        {% if formFilter is not null %}
                $('.pagination li a').click(function () {

                    $('#form_listado').attr('action', this.href);
            {% for row in form if formFilter[row.vars.name] is defined %}
                        $('#{{row.vars.id}}').val('{{formFilter[row.vars.name]}}');
            {% endfor %}

                        $('#form_listado').submit();
                        return false;
                    });
        {% endif %}
            });



    </script>
{% endblock %}
