{% extends 'ThemeBundle:Default:layout_base.html.twig' %}

{% block content_title %}
    Formulario de Alta
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $(".maskdocumento").inputmask({mask: "**[*][*]-*****[*][*]-*-**", greedy: false});
            $(".maskmoney").inputmask('decimal', {rightAlign: false});
            $('#{{ form.tipoVentaEspecial.vars.id }}').change(function () {
                console.log($(this).val());

                var id = $(this).val()

                $.ajax({
                    url: "{{ path('get_muestra_campos_plan_de_ahorro') }}",
                    method: "GET",
                    data: {id: id},
                    success: function (data) {
                        if (data.muestra_plan_ahorro == true) {
                            $('.tipo-venta-especial-field').removeClass('hidden');
                            $('.tipo-venta-especial-field').attr('required', 'required');
                            if (data.slug == 'plan-de-ahorro-propio') {
                                $('.cliente').addClass('hidden');
                                $('.cliente').removeAttr('required');
                                $('.cliente').val('');
                            }
                        } else {
                            $('.tipo-venta-especial-field').addClass('hidden');
                            $('.tipo-venta-especial-field').removeAttr('required');
                            $('.tipo-venta-especial-field').val('');
                        }
                    }
                });

            })
            $('#{{ form.vin.vars.id }}').keyup(function () {
                $('#{{ form.chasis.vars.id }}').val($('#{{ form.vin.vars.id }}').val());
            });
        });
    </script>
{% endblock %}
{% block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Vehiculo</h3>
                </div>

                {{ form(form) }}


                <a class="btn btn-default" href="{{ path('vehiculos') }}">
                    Volver
                </a>
            </div>
        </div>
    </div>

{% endblock %}
