{% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% block title %}
    Vehiculos
{% endblock title %}
{% block content -%}
    <!-- Modal -->
    <div id="modalGeneric" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="cuerpoGeneric">

            </div>

        </div>
    </div>
    <!-- FILTROS -->
    {% include "VehiculosBundle:Vehiculo:formVehiculoFiltros.html.twig" %}
    <!-- FIN FILTROS -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado Vehiculos en Transito</h3>


                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="data-table table table-bordered table-striped">
                        <thead>

                            <tr>
                                <th>Id</th>
                                <th>Vin</th>
                                <th>Modelo</th>
                                    {#                                <th>Motor</th>                            #}
                                <th>Color vehiculo</th>
                                    {# <th>Numero remito</th>
                                     <th>Fecha remito</th> 
                                     <th>Numero pedido</th>#}
                                <th>Tipo de venta</th>
                                    {#                                <th>Observacion</th>#}
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td><a href="{{ path('vehiculos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                    <td>{{ entity.vin }}</td>
                                    <td>{{ entity.modelo }}</td>
                                    {#                                    <td>{{ entity.motor }}</td>                                #}
                                    <td>{{ entity.color_vehiculo }}</td>
                                    {#<td>{{ entity.remito_numero }}</td>
                                    <td>{{ entity.remito_fecha|date("d-m-Y") }}</td>
                                    <td>{{ entity.numero_pedido }}</td>#}
                                    <td>{{ entity.tipo_venta_especial }}</td>
                                    {#                                    <td>{{ entity.observacion }}</td>#}
                                    <td>

                                        <a class="btn btn-default" href="{{ path('vehiculos_show', { 'id': entity.id }) }}"><i
                                                class="fa fa-eye"></i></a>
                                        <a class="btn btn-default" href="{{ path('vehiculos_edit', { 'id': entity.id }) }}"><i
                                                class="fa fa-edit"></i></a>
                                        <a class="btn btn-default"
                                           href="{{ path('vehiculos_actualizar_remito', { 'vehiculoId': entity.id }) }}"
                                           title="Actualizar remito"><i class="fa fa-file-text"></i></a>

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <label class="control-label col-xs-1 col-xs-offset-9"> Registros:</label>
                    <div class="col-xs-2">
                        {{ form_widget(form.registrosPaginador) }}
                    </div> 
                </div>   
            </div>
        </div>
    </div>
    {{ knp_pagination_render(entities) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            
        {% set formFilter = app.request.request.get('vehiculosbundle_vehiculo_filter') %}

        {% if formFilter is not null %}
                $('.pagination li a').click(function () {

                    $('#form_listado').attr('action', this.href);
            {% for row in form %}
                        $('#{{row.vars.id}}').val('{{formFilter[row.vars.name]}}');
            {% endfor %}

                        $('#form_listado').submit();
                        return false;
                    });
        {% endif %}

            });
          

    </script>
{% endblock %}
