{% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% block title %}
    Vehiculos
{% endblock title %}
{% block content -%}
    <!-- Modal -->
    <div id="modalDeposito" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="cuerpoMovimientoDepostido">

            </div>

        </div>
    </div>
    <!-- FILTROS -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Filtros</h3>
                    <div class="box-tools pull-right">
                        <button title="" data-toggle="tooltip" data-widget="collapse" class="btn btn-box-tool" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        <button title="" data-toggle="tooltip" data-widget="remove" class="btn btn-box-tool" data-original-title="Remove"><i class="fa fa-times"></i></button>
                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form class="form-horizontal" id="form_listado" role="form" method="post">
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="inputEmail3">VIN</label>
                            <div class="col-sm-4">
                                {{ form_widget(form.vin) }}
                            </div>
                            <label class="col-sm-2 control-label" for="inputEmail3">Color</label>
                            <div class="col-sm-4">
                                {{ form_widget(form.colorExterno) }}
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button class="btn btn-primary btn-label-left" type="submit">
                                    <span>
                                        <i class="fa fa-filter"></i>
                                    </span>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN FILTROS -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado Vehiculos Pendientes Por Recibir</h3>


                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="data-table table table-bordered table-striped">
                        <thead>

                            <tr>
                                <th>Id</th>
                                <th>Vin</th>
                                <th>Modelo</th>
                                <th>Motor</th>                            
                                <th>Color externo</th>
                                <th>Numero remito</th>
                                <th>Fecha remito</th> 
                                <th>Numero pedido</th>
                                <th>Tipo de venta</th>
                                <th>Observacion</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td><a href="{{ path('vehiculos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                    <td>{{ entity.vin }}</td>
                                    <td>{{ entity.modelo }}</td>
                                    <td>{{ entity.motor }}</td>                                
                                    <td>{{ entity.color_externo }}</td>
                                    <td>{{ entity.remito_numero }}</td>
                                    <td>{{ entity.remito_fecha|date("d-m-Y") }}</td>
                                    <td>{{ entity.numero_pedido }}</td>
                                    <td>{{ entity.tipo_venta_especial }}</td>
                                    <td>{{ entity.observacion }}</td>
                                    <td>

                                        <a class="btn btn-default" href="{{ path('vehiculos_show', { 'id': entity.id }) }}"><i
                                                class="fa fa-eye"></i></a>
                                        <a class="btn btn-default" href="{{ path('vehiculos_edit', { 'id': entity.id }) }}"><i
                                                class="fa fa-edit"></i></a>
                                        <a class="btn btn-default"
                                           href="{{ path('vehiculos_actualizar_remito', { 'vehiculoId': entity.id }) }}"
                                           title="Actualizar remito"><i class="fa fa-file-text"></i></a>

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-primary" href="{{ path('vehiculos_alta') }}">
        Alta
    </a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.btn-deposito').click(function () {
                url = $(this).data('url');
                $.ajax({
                    type: 'get',
                    url: url,
                    success: function (data) {
                        $('#cuerpoMovimientoDepostido').html(data);
                    },
                });
            });


        });

        $(document).on('submit', '#form', function (ev) {
            ev.preventDefault();
            datos = $('#form').serializeArray();
            url = '{{path('movimiento_deposito_create_ajax')}}';
            $.ajax({
                type: 'post',
                url: url,
                data: datos,
                success: function (data) {
                    $('#modalDeposito').modal('toggle');
                    modalAlert('La operación se realizó con exito');

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#modalDeposito').modal('toggle');
                    modalAlert('La operación no se realizo');
                }
            });
        });

    </script>
{% endblock %}
