{% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% block title %}
    Vehiculos
{% endblock title %}
{% block content -%}
    <!-- Modal -->
    <div id="modalGeneric" class="modal fade" role="dialog">
       <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="cuerpoGeneric">

            </div>

        </div>
    </div>
    <!-- FILTROS -->
    {% include "VehiculosBundle:Vehiculo:formVehiculoFiltros.html.twig" %}
    <!-- FIN FILTROS -->

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado Vehiculos Pendientes Por Entregar - {{cantidadRegistros}} vehiculos encontrados</h3>
                    
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="data-table table table-bordered table-striped" id="tabla-listado">
                        <thead>

                            <tr>
                                <th>Id</th>
                                <th>Modelo</th>
                                <th>Color vehiculo</th>
                                <th>Vin</th>
                                <th>Dias stock</th>
                                <th>Estado Pago</th>
                                <th>Tipo de venta</th>
                                <th>Deposito</th>
                                <th>Fecha entrega</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.id }}</td>
                                    <td>{{ entity.modelo_nombre~' | '~entity.modelo_anio~' | '~entity.modelo_codigo~' | '~entity.modelo_version }}</td>
                                    <td>{{ entity.color_vehiculo }}</td>
                                    <td>{{ entity.vin }}</td>
                                    <td>{{ entity.dias_en_stock }}</td>
                                    <td align="center">
                                        {% if entity.venta_especial_slug == 'convencional' %}
                                            {% if entity.pagado %}
                                                Gonzalez
                                            {% else %}
                                                <a class="btn btn-pagado" data-toggle="modal"
                                                   data-target="#modalGeneric"
                                                   data-url="{{ path('new_registro_pago_a_gm_ajax', { 'vehiculoId': entity.id }) }}"
                                                   title="Registrar pago">Gpat</a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>{{ entity.tipo_venta_especial }}</td>
                                    <td>{{ entity.deposito_actual | default ("") }}</td>
                                    <td>{{ entity.fecha_entrega is null ? "" :entity.fecha_entrega|date('d-m-Y')~' '~entity.hora_entrega }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-default"
                                               href="{{ path('vehiculos_show', { 'id': entity.id }) }}"><i
                                                        title="Ver resumen" class="fa fa-eye"></i></a>
                                            <a class="btn btn-default"
                                               href="{{ path('vehiculos_editar_recibido', { 'vehiculoId': entity.id }) }}"><i
                                                        title="Editar" class="fa fa-edit"></i></a>
                                            <a class="btn {% if(entity.check_control_interno_resultado_cabecera_id!='') %}btn-success{% else %}btn-default{% endif %}"
                                               href="{{ path('check_control_interno', { 'vehiculoId': entity.id ,'tipoTransaccion':'edit'}) }}"
                                               title="Checklist control interno"><i class="fa fa-check-square"></i></a>
                                            <a class="btn {% if(entity.dominio!='') %}btn-success{% elseif(entity.estado_patentamiento=='iniciado') %}btn-warning{% else %}btn-default{% endif %}"
                                               href="{{ path('vehiculos_edit_patente', { 'vehiculoId': entity.id }) }}"
                                               title="Patente"><i class="fa icon-patente"></i></a>

                                            <a class="btn btn-default btn-deposito" data-toggle="modal"
                                               data-target="#modalGeneric"
                                               data-url="{{ path('new_movimiento_deposito_ajax', { 'vehiculoId': entity.id }) }}"
                                               title="Mover de Deposito"><i class="fa fa-exchange"></i></a>

                                            {#  <a class="btn {% if(entity.fecha_entrega!='') %}btn-success{% else %}btn-default{% endif %} btn-agenda"
                                                 data-toggle="modal" data-target="#modalGeneric"
                                                 data-url="{{ path('new_agenda_entrega_ajax', { 'vehiculoId': entity.id }) }}"
                                                 title="Agendar entrega"><i class="fa fa-calendar"></i></a>#}
                                            <a class="btn {% if(entity.fecha_entrega!='') %}btn-success{% else %}btn-default{% endif %} btn-agenda"

                                               href="{{ path('agenda_entrega_new', { 'vehiculoId': entity.id }) }}"
                                               title="Agendar entrega"><i class="fa fa-calendar"></i></a>


                                            <a class="btn {% if(entity.danio_interno_sin_solucionar!='') %}btn-danger{% else %}btn-default{% endif %}"
                                               href="{{ path('editar_danio_vehiculo_interno', { 'vehiculoId': entity.id }) }}"
                                               title="editar daño interno"><i class="fa fa-fire-extinguisher"></i></a>

                                            <a class="btn {% if(entity.cupon_garantia!='') %}btn-success{% else %}btn-default{% endif %} btn-cupon-garantia"
                                               data-toggle="modal"
                                               data-target="#modalGeneric"
                                               data-url="{{ path('new_cupon_garantia_ajax', { 'vehiculoId': entity.id }) }}"
                                               title="Cupón de garantia"><i class="fa fa-bookmark"></i></a>
                                        </div>
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <label class="control-label col-xs-1 col-xs-offset-9"> Registros:</label>
                    <div class="col-xs-2">
                        {{ form_widget(form.registrosPaginador) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ knp_pagination_render(entities) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "VehiculosBundle:Vehiculo:index.js.twig" %}
    
    <script src="{{ asset('bundles/theme/js/moment.min.js') }}"></script>
<script src="{{ asset('bundles/theme/AdminLTE-2.3.0/plugins/fullcalendar/fullcalendar.min.js') }}"></script>
<script src="{{ asset('bundles/theme/AdminLTE-2.3.0/plugins/fullcalendar/lang-all.js') }}"></script>

{% endblock %}
