{% extends 'ThemeBundle:Default:layout_base.html.twig' %}

{% block content_title %}
    Resumen
{% endblock %}

{% block content -%}
    <div id="modalCarousel" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="cuerpoCarousel">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="" alt="...">
                        </div>
                    </div>
                </div> <!-- Carousel -->
            </div>

        </div>
    </div>

    <div class="row">        
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Vehículo</h3>
                </div>
                <div class="box-body">

                    <table class="record_properties">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ entity.id }}</td>
                            </tr>
                            <tr>
                                <th>Vin</th>
                                <td>{{ entity.vin }}</td>
                            </tr>
                            <tr>
                                <th>Chasis</th>
                                <td>{{ entity.chasis }}</td>
                            </tr>
                            <tr>
                                <th>Modelo</th>
                                <td>{{ entity.modelo }}</td>
                            </tr>
                            <tr>
                                <th>Color</th>
                                <td>{{ entity.colorVehiculo }}</td>
                            </tr>
                            <tr>
                                <th>Motor</th>
                                <td>{{ entity.motor }}</td>
                            </tr>

                            <tr>
                                <th>Importe</th>
                                <td>{{ entity.importe }}</td>
                            </tr>
                            <tr>
                                <th>Impuestos</th>
                                <td>{{ entity.impuestos }}</td>
                            </tr>
                            <tr>
                                <th>Pagado</th>
                                <td>
                                    {%if entity.pagado%}
                                        SI
                                    {%else%}
                                        NO
                                    {%endif%}
                                </td>
                            </tr>
                            <tr>
                                <th>Numero pedido</th>
                                <td>{{ entity.numeroPedido }}</td>
                            </tr>
                            <tr>
                                <th>Tipo de venta</th>
                                <td>{{ entity.tipoVentaEspecial }}</td>
                            </tr>
                            <tr>
                                <th>Grupo</th>
                                <td>{{ entity.numeroGrupo }}</td>
                            </tr>
                            <tr>
                                <th>Orden</th>
                                <td>{{ entity.numeroOrden }}</td>
                            </tr>
                            <tr>
                                <th>Solicitud</th>
                                <td>{{ entity.numeroSolicitud }}</td>
                            </tr>
                            <tr>
                                <th>Codigo llave</th>
                                <td>{{ entity.codigoLlave }}</td>
                            </tr>
                            <tr>
                                <th>Codigo radio</th>
                                <td>{{ entity.codigoRadio }}</td>
                            </tr>
                            <tr>
                                <th>Codigo seguridad</th>
                                <td>{{ entity.codigoSeguridad }}</td>
                            </tr>
                            <tr>
                                <th>Codigo inmovilizador</th>
                                <td>{{ entity.codigoInmovilizador }}</td>
                            </tr>
                            <tr>
                                <th>Km ingreso</th>
                                <td>{{ entity.kmIngreso }}</td>
                            </tr>

                            <tr>
                                <th>Observación</th>
                                <td>{{ entity.observacion }}</td>
                            </tr>
                            <tr>
                                <th>Creado</th>
                                <td>{{ entity.creado|date('Y-m-d H:i:s') }}</td>
                            </tr>
                            <tr>
                                <th>Actualizado</th>
                                <td>{{ entity.actualizado|date('Y-m-d H:i:s') }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="box-footer">
                    <a class="btn btn-default" href="{{  app.request.headers.get('referer')  }}">
                        Volver
                    </a>
                </div>
            </div>
        </div>        
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Remito</h3>
                </div>
                <div class="box-body">
                    <table class="record_properties">
                        <tbody>
                            <tr>
                                <th>Numero remito</th>
                                <td>{{ entity.remito.numero }}</td>
                            </tr>
                            <tr>
                                <th>Fecha remito</th>
                                <td>{{ entity.remito.fecha|date('d-m-Y') }}</td>
                            </tr>  
                            <tr>
                                <th>Fecha recibido</th>
                                <td>{{ entity.remito.fechaRecibido is null ? "" :entity.remito.fechaRecibido|date('d-m-Y') }}</td>
                            </tr> 
                            <tr>
                                <th>Usuario Receptor</th>
                                <td>{{ entity.remito.usuarioReceptor }}</td>
                            </tr> 
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        {% if entity.Movimientodeposito%}
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Deposito</h3>
                    </div>
                    <div class="box-body">
                        <table class="record_properties">
                            <tbody>
                                <tr>
                                    <th>Deposito</th>
                                    <td>{{ entity.Movimientodeposito.last.depositoDestino | default ("") }}</td>
                                </tr>   
                                <tr>
                                    <th>Fila</th>
                                    <td>{{ entity.Movimientodeposito.last.fila | default ("") }}</td>
                                </tr> 
                                <tr>
                                    <th>Posicion</th>
                                    <td>{{ entity.Movimientodeposito.last.posicion | default ("") }}</td>
                                </tr> 
                                <tr>
                                    <th>Usuario</th>
                                    <td>{{ entity.Movimientodeposito.last.creadoPor | default ("") }}</td>
                                </tr> 
                                <tr>
                                    <th>Observacion</th>
                                    <td>{{ entity.Movimientodeposito.last.observacion | default ("") }}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>

                </div>
            </div> 
        {% endif %}
        {% if entity.factura%}
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Factura</h3>
                    </div>
                    <div class="box-body">
                        <table class="record_properties">
                            <tbody>
                                <tr>
                                    <th>Número</th>
                                    <td>{{ entity.factura.numeroFactura | default ("") }}</td>
                                </tr>   
                                <tr>
                                    <th>Fecha</th>
                                    <td>{{ entity.factura.fecha is not defined ? "" :entity.factura.fecha|date('d-m-Y') }}</td>
                                </tr> 
                                <tr>
                                    <th>Vendedor</th>
                                    <td>{{ entity.vendedor  | default ("") }}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>

                </div>
            </div> 
        {% endif %}
        {% if entity.Patentamiento%}
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Patentamiento</h3>
                    </div>
                    <div class="box-body">
                        <table class="record_properties">
                            <tbody>
                                <tr>
                                    <th>Estado</th>
                                    <td>{{ entity.Patentamiento.estadoPatentamiento | default ("") }}</td>
                                </tr> 
                                <tr>
                                    <th>Agente que inicio tramite</th>
                                    <td>{{ entity.Patentamiento.agenteInicioPatente | default ("") }}</td>
                                </tr>     
                                <tr>
                                    <th>Dominio</th>
                                    <td>{{ entity.Patentamiento.dominio | default ("") }}</td>
                                </tr> 
                                <tr>
                                    <th>Fecha</th>
                                    <td>{{ entity.Patentamiento.fecha is not defined ? "" :entity.Patentamiento.fecha|date('d-m-Y') }}</td>
                                </tr> 
                                <tr>
                                    <th>Registro</th>
                                    <td>{{ entity.Patentamiento.registro | default ("") }}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>

                </div>
            </div> 
        {% endif %}
        {% if entity.danioVehiculoGm%}
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Daños GM</h3>
                    </div>
                    <div class="box-body">

                        {% for danio in entity.danioVehiculoGm %}
                            <div class="box box-danger">
                                <div class="box-header with-border">
                                    <h3 class="box-title">{{ danio.tipoDanio }}</h3>
                                </div>
                                <div class="box-body">
                                    <table class="record_properties">
                                        <tbody>
                                            <tr>
                                                <th>Daño</th>
                                                <td>{{ danio.codigoDanio.descripcion }}</td>
                                            </tr>
                                            <tr>
                                                <th>Gravedad</th>
                                                <td>{{ danio.gravedadDanio.descripcion }}</td>
                                            </tr>
                                            <tr>
                                                <th>Estado</th>
                                                <td>{{ danio.tipoEstadoDanioGm.descripcion | default('')}}</td>
                                            </tr>
                                            {% if danio.fotoDanio %}
                                                <tr>
                                                    <th><a class="pull-right badge bg-blue btn-carousel" data-toggle="modal"
                                                           data-target="#modalCarousel"
                                                           data-url="{{ path('get_fotos_danios_gm_ajax', { 'danioId': danio.id }) }}"
                                                           title="Ver fotos">Ver fotos</a>
                                                    </th>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        {% endif %}
        {% if entity.danioVehiculoInterno %}
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Daños Internos</h3>
                    </div>
                    <div class="box-body">

                        {% for danio in entity.danioVehiculoInterno %}
                            <div class="box box-danger">
                                <div class="box-header with-border">
                                    <h3 class="box-title">{{ danio.tipoDanioInterno.categoriaDanioInterno ~ ' - '~ danio.tipoDanioInterno}}</h3>
                                </div>
                                <div class="box-body">
                                    <table class="record_properties">
                                        <tbody>
                                            <tr>
                                                <th>Descripcion</th>
                                                <td>{{ danio.detalle }}</td>
                                            </tr>
                                            <tr>
                                                <th>Solucionado</th>
                                                <td>{% if danio.solucionado %}SI{% else %}NO{% endif %}</td>
                                            </tr>
                                            {% if danio.fotoDanioInterno %}
                                                <tr>
                                                    <th><a class="pull-right badge bg-blue btn-carousel" data-toggle="modal"
                                                           data-target="#modalCarousel"
                                                           data-url="{{ path('get_fotos_danios_interno_ajax', { 'danioId': danio.id }) }}"
                                                           title="Ver fotos">Ver fotos</a>
                                                    </th>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        {% endif %}
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Otros</h3>
                </div>
                <div class="box-body">
                    <table class="record_properties">
                        <tbody>
{#                            {% if entity.checkControlInternoResultadoCabecera%}#}
                                <tr>
                                    <th><a class="pull-right badge bg-blue btn-carousel"
                                           data-target=""
                                           data-url=""
                                           title="Ver">Ver checklist de control interno</a>
                                    </th>
                                </tr>  
{#                            {%endif%}#}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    {#{{ form(delete_form) }}#}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.btn-carousel').click(function () {
                url = $(this).data('url');
                $.ajax({
                    type: 'get',
                    url: url,
                    success: function (data) {
                        $('#carousel-example-generic').html(data);
                    },
                });
            });


        });

    </script>
{% endblock %}