{% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% block title %}
    Vehiculos
{% endblock title %}
{% block content -%}
    <!-- Modal -->
    <div id="modalGeneric" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="cuerpoGeneric">

            </div>

        </div>
    </div>
    <!-- FILTROS -->
    {% include "VehiculosBundle:Vehiculo:formVehiculoFiltros.html.twig" %}
    <!-- FIN FILTROS -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado Vehiculos en Transito</h3>


                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="data-table table table-bordered table-striped" id="tabla-listado">
                        <thead>

                            <tr>
                                <th>Id</th>                                
                                <th>Modelo</th>
                                <th>Color vehiculo</th>
                                <th>Vin</th>
                                <th>Dias stock</th>
                                <th>Estado Pago</th>
                                <th>Tipo de venta</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td><a href="{{ path('vehiculos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                    <td>{{ entity.modelo_nombre~' | '~entity.modelo_anio~' | '~entity.modelo_codigo~' | '~entity.modelo_version }}</td>
                                    <td>{{ entity.color_vehiculo }}</td>
                                    <td>{{ entity.vin }}</td>
                                    <td>{{ entity.dias_en_stock }}</td>
                                    <td align="center">
                                        {% if entity.venta_especial_slug == 'convencional' %}
                                            {%if entity.pagado %}
                                                Gonzalez
                                            {%else%}
                                                <a class="btn btn-pagado" data-toggle="modal"
                                                   data-target="#modalGeneric"
                                                   data-url="{{ path('new_registro_pago_a_gm_ajax', { 'vehiculoId': entity.id }) }}"
                                                   title="Mover de Deposito">Gpat</a>
                                            {%endif%}
                                        {%endif%}
                                    </td>
                                    <td>{{ entity.tipo_venta_especial }}</td>
                                    <td>
                                        <div class="btn-group">

                                            <a class="btn btn-default"
                                               href="{{ path('vehiculos_show', { 'id': entity.id }) }}"><i
                                                        class="fa fa-eye"></i></a>
                                            <a class="btn btn-default"
                                               href="{{ path('vehiculos_edit', { 'id': entity.id }) }}"><i
                                                        class="fa fa-edit"></i></a>
                                            <a class="btn btn-default"
                                               href="{{ path('vehiculos_actualizar_remito', { 'vehiculoId': entity.id }) }}"
                                               title="Actualizar remito"><i class="fa fa-file-text"></i></a>
                                            {% if entity.venta_especial_slug == 'convencional' %}
                                                <a class="btn {% if(entity.cliente_id!='') %}btn-success{% else %}btn-default{% endif %} btn-asignar"
                                                   data-toggle="modal"
                                                   data-target="#modalGeneric"
                                                   data-url="{{ path('new_asignacion_vehiculo_ajax', { 'vehiculoId': entity.id }) }}"
                                                   title="Asignar vehiculo"><i class="fa fa-hand-pointer-o"></i></a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <label class="control-label col-xs-1 col-xs-offset-9"> Registros:</label>
                    <div class="col-xs-2">
                        {{ form_widget(form.registrosPaginador) }}
                    </div> 
                </div>   
            </div>
        </div>
    </div>
    {{ knp_pagination_render(entities) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "VehiculosBundle:Vehiculo:index.js.twig"%}
    <script>
        $(document).ready(function () {

        {% set formFilter = app.request.request.get('vehiculosbundle_vehiculo_filter') %}

        {% if formFilter is not null %}
                $('.pagination li a').click(function () {

                    $('#form_listado').attr('action', this.href);
            {% for row in form %}
                        $('#{{row.vars.id}}').val('{{formFilter[row.vars.name]}}');
            {% endfor %}

                        $('#form_listado').submit();
                        return false;
                    });
        {% endif %}
                oTable = $('#tabla-listado').dataTable();
                oTable.fnSort([[1, 'asc'], [2, 'asc'], [4, 'asc']]);
            });


    </script>
{% endblock %}
