{% extends 'ThemeBundle:Default:layout_base_reporte.pdf.twig' %}
{% block body %}
    <style>
        label {
            font-weight: bold;
        }

        .pregunta {
            text-align: justify;
        }

        #datos-clientes {
            font-size: 8pt;
        }
        body {
            font-size: 11pt !important;
        }
        .resaltar {
            border: 1px dotted;
        }
    </style>

    <div class="box-body">

        {% for item in encuestaResultadoRespuesta %}
            <div class="{{ item.encuestaPregunta.cssClass }}">
                <p>
                    <span class="pregunta">{{ item.encuestaPregunta }}</span>
                </p>
                <p>
                <div>
                    {% for opcion in item.encuestaPregunta.opcionesRespuestas %}
                        {{ opcion }} <input
                            type="checkbox" {% if item.encuestaOpcionRespuesta.id == opcion.id %} checked {% endif %}>
                    {% endfor %}
                </div>
                {#                <br>#}
                </p>
            </div>
        {% endfor %}

    </div>
    <br>
    <div class="row" id="datos-clientes">
        {% set cliente = vehiculo.cliente.personaTipo.first.persona %}
        <label>Apellido y Nombre: </label> <span>{{ vehiculo.cliente }}</span> <br>
        <label>Dirección: </label><span>{{ cliente.barrio }} - {{ cliente.calle }} {{ cliente.numeroCalle }}</span><br>
        <label>Teléfono: </label><span> {{ cliente.telefono }}</span><br>
        <label>Celular: </label><span> {{ cliente.celular }}</span><br>
        <label>E-Mail: </label><span>{{ cliente.mail }}</span><br>
        <label>Fecha Nacimiento: </label><span>{{ cliente.fechaNacimiento | date('d/m/Y') }}</span><br>
        <label>Localidad: </label><span>{{ cliente.localidad }}</span>
        <label>CP: </label><span>{{ cliente.localidad.codigoPostal | default('') }}</span>
        <label>VIN: </label> <span>{{ vehiculo.vin }}</span> <br>
        <label>Fecha Encuesta: </label> <span>{{ encuestaResultadoCabecera.creado | date('d/m/Y') }}</span> <br>
        <br>
        <label>Firma: _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ </label><br><br>
        <label>Aclaración: _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ </label>

    </div>
    {#    <div class="row">#}
    {#        <br>#}
    {#  <br>
      <label>Firma: _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ </label><br><br>
      <label>Aclaración: _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ </label>
  </div>#}

{% endblock %}