{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TipoCompra</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Creado</th>
                <td>{{ entity.creado|date('d/m/Y H:i:s') }}</td>
            </tr>
            <tr>
                <th>Actualizado</th>
                <td>{{ entity.actualizado|date('d/m/Y H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <a class="btn btn-default" href="{{ path('tipo_compra') }}">
    Volver
</a>
</div>
</div>
</div>



    <li>
        <a href="{{ path('tipo_compra_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
