{% extends 'ThemeBundle:Default:layout_base.html.twig' %}

{% block content_title %}
    Checklist
{% endblock %}

{% block content -%}
    <div class="row">
        <div class="col-md-12">
            {#<div class="box box-primary">#}
            {#<div class="box-header with-border">#}
            {#<h3 class="box-title">Checklist</h3>#}
            {#</div>#}


            <form method="post" id="form-checklist"
                  action="{{ path('crear_resultado_respuesta', {'cuestionarioId':cuestionario.id }) }}">
                {% for categoria in categorias %}
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">{{ categoria.nombre }}</h3>
                            </div>
                            <div class="box-body">

                                {{ render(controller('CuestionariosBundle:Cuestionario:getCamposPorCategoria', { 'id':categoria.id } )) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <button class="btn btn-primary" id="btn-guardar-checklist" type="submit">Guardar</button>
                <a class="btn btn-default" href="{{ path('categorias_cuestionario') }}">
                    Volver
                </a>
            </form>

            {#{{ form(form) }}#}

            {#<div class="box-footer">#}
                {##}

            {#</div>#}


            {#</div>#}
        </div>
    </div>

{% endblock %}
