{% extends 'ThemeBundle:Default:layout_base.html.twig' %}

{% block content_title %}
    Formulario de Edición
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#{{ edit_form.usuario.email.vars.id }}').attr("readonly", "readonly");
            $('#{{ edit_form.persona.mail.vars.id }}').keyup(function () {
                $('#{{ edit_form.usuario.email.vars.id }}').val($('#{{ edit_form.persona.mail.vars.id }}').val());
            });
            $('#{{ edit_form.persona.mail.vars.id }}').change(function () {
                $('#{{ edit_form.usuario.email.vars.id }}').val($('#{{ edit_form.persona.mail.vars.id }}').val());
            });
        });
    </script>
{% endblock %}
{% block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Empleado</h3>
                </div>

                {{ form(edit_form) }}

                <div class="box-footer">
                    <a class="btn btn-default" href="{{ path('empleados') }}">
                        Volver
                    </a>

                </div>
            </div>
        </div>
    </div>
    {#{{ form(delete_form) }}#}

{% endblock %}
