{% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% block title %}
    Empleados
{% endblock title %}
    {% block content -%}


        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Listado Empleados</h3>


                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Categoría</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>
                                        <a href="{{ path('empleados_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                                    </td>
                                    <td>{{ entity.personaTipo.persona }}</td>
                                    <td>
                                        {% for categoria in entity.empleadoCategoria %}
                                            <span>{{ categoria.categoriaEmpleado }}</span>
                                            <br>
                                        {% endfor %}
                                    </td>
                                    <td>

                                        <a class="btn btn-default"
                                           href="{{ path('empleados_show', { 'id': entity.id }) }}"><i
                                                    class="fa fa-eye"></i></a>

                                        <a class="btn btn-default"
                                           href="{{ path('empleados_edit', { 'id': entity.id }) }}"><i
                                                    class="fa fa-edit"></i></a>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">

                        <a class="btn btn-primary" href="{{ path('empleados_buscar_persona') }}">
                            Nuevo
                        </a>

                    </div>
                </div>
            </div>
        </div>
        {{ knp_pagination_render(entities) }}
    {% endblock %}
