    {% extends 'ThemeBundle:Default:layout_base.html.twig' %}

    {% block title %}
        AgendaEntrega
    {% endblock title %}

    {% block content -%}


    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado AgendaEntrega</h3>


                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="data-table table table-bordered table-striped">
                        <thead>
                            <tr>
                                    <th>Id</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Descripcion</th>
                                    <th>Creado</th>
                                    <th>Actualizado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                            <tr>
                                        <td>
                                            <a href="{{ path('agenda_entrega_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                                        </td>
                                        <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>{{ entity.hora |date('H:i') }}</td>
                                        <td>{{ entity.descripcion }}</td>
                                        <td>{% if entity.creado %}{{ entity.creado|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>{% if entity.actualizado %}{{ entity.actualizado|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>

                        <a class="btn btn-default" href="{{ path('agenda_entrega_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i></a>

                        <a class="btn btn-default" href="{{ path('agenda_entrega_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i></a>

                                        </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    
                        <a class="btn btn-primary" href="{{ path('agenda_entrega_new') }}">
                            Nuevo
                        </a>

                                    </div>
            </div>
        </div>
    </div>
    {{ knp_pagination_render(entities) }}
    {% endblock %}
