{% extends 'ThemeBundle:Default:layout_base.html.twig' %}

{% block content_title %}
    Agenda
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <!-- fullCalendar 2.2.5-->
    <link rel="stylesheet" href="{{ asset('bundles/theme/AdminLTE-2.3.0/plugins/fullcalendar/fullcalendar.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('bundles/theme/AdminLTE-2.3.0/plugins/fullcalendar/fullcalendar.print.css') }}" media="print">
{% endblock %}
{% block content -%}
    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <!-- THE CALENDAR -->
                    <div id="calendar"></div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <ul class="chart-legend clearfix">
                        <li><i class="fa fa-circle text-green"></i>Veh&iacute;culos Convencionales por entregar</li>
                        <li><i class="fa fa-circle text-yellow"></i>Veh&iacute;culos Plan de Ahorro por entregar</li>
                        <li><i class="fa fa-circle text-blue"></i>Veh&iacute;culos Entregados antes de la fecha programada</li>
                    </ul>   
                </div>
            </div><!-- /. box -->
        </div>

        <div class="col-sm-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Vehículo</h3>
                </div>
                <div class="box-body">
                    <table class="record_properties">
                        <tbody>
                            <tr>
                                <th>Vehiculo</th>
                                <td>{{vehiculo.modelo.nombreModelo~' | '~vehiculo.modelo.anio~' | '~vehiculo.modelo.version}}</td>
                            </tr>
                            <tr>
                                <th>Color</th>
                                <td>{{vehiculo.colorVehiculo}}</td>
                            </tr>
                            <tr>
                                <th>Vin</th>
                                <td>{{vehiculo.vin}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <div class="form-group">
                        {{ form_label(form.fecha) }}
                        {{ form_widget(form.fecha) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.hora) }}
                        <div class="bootstrap-timepicker">
                            {{ form_widget(form.hora) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.descripcion) }}
                        {{ form_widget(form.descripcion) }}
                    </div>
                    <div class="form-group">
                        <button type="submit" id="" class="btn btn-primary">Aceptar</button>
                        <a class="btn btn-default" href="{{ path('vehiculos_pendientes_por_entregar_index') }}">
                            Volver
                        </a>
                    </div>
                    <div class="hidden">
                        {{ form_rest(form) }}

                    </div>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>

    <!-- fullCalendar 2.2.5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="{{ asset('bundles/theme/AdminLTE-2.3.0/plugins/fullcalendar/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('bundles/theme/AdminLTE-2.3.0/plugins/fullcalendar/lang-all.js') }}"></script>
    <script>

        entregas = [{% for entrega in entregas %}
        {
        title: ' - {{  entrega.vehiculo.vin }} - {{ entrega.vehiculo.cliente }}',
                start: new Date({{ entrega.fecha| date('Y, m-1, d') }}, {{ entrega.hora| date('H, i') }}),
                end: new Date({{ entrega.fecha| date('Y, m-1, d') }}, {{ entrega.hora| date('H+1, i') }}),
                backgroundColor: "#00a65a", //Success (green)
                borderColor: "#00a65a", //Success (green)
        {%if(entrega.vehiculo.tipoVentaEspecial.slug == 'plan-de-ahorro')%}
                            backgroundColor: "#f39c12", // (amarillo)
                            borderColor: "#f39c12",                {% elseif (entrega.vehiculo.estadoVehiculo.last.tipoEstadoVehiculo.slug=='entregado') %}
                                        backgroundColor: "#367fa9", // (blue)
                                        borderColor: "#367fa9", // (blue)

        {% endif %}
                    },
        {% endfor %}]
                    ;


            /* initialize the calendar
             -----------------------------------------------------------------*/
            //Date for the calendar events (dummy data)
            var date = new Date();
            var d = date.getDate(),
                    m = date.getMonth(),
                    y = date.getFullYear();
            $('#calendar').fullCalendar({
                lang: 'es',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                buttonText: {
                    today: 'Hoy',
                    month: 'Mes',
                    week: 'Semana',
                    day: 'Dia'
                },
                //Random default events
                events:
                        entregas,
            });
        </script>

        {% endblock %}